In [54]:
import pandas as pd
import numpy as np

In [55]:
from pymove.preprocessing import filter
from pymove.utils import utils

In [56]:
from pymove.utils import transformations

In [57]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984094  116.319236 2008-10-23 05:53:05   1
2  39.984198  116.319322 2008-10-23 05:53:06   1
3  39.984224  116.319402 2008-10-23 05:53:11   1
4  39.984211  116.319389 2008-10-23 05:53:16   1

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217654 entries, 0 to 217653
Data columns (total 4 columns):
lat         217654 non-null float64
lon         217654 non-null float64
datetime    217654 non-null datetime64[ns]
id          217654 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 6.6 MB

In [ ]:
bbox = utils.get_bbox(df)
bbox

In [ ]:
filter.filter_bbox(df, bbox)

In [ ]:
filter.filter_by_datetime(df,"2009-03-19 05:45:37", "2009-03-19 05:46:17")

In [ ]:
filter.filter_by_label(df, 116.327219, "lon")

In [ ]:
filter.filter_by_label(df, "2008-10-24 04:12:30" , "datetime")

In [ ]:
filter.filter_by_label(df, "2008-10-24 04:12:30" , "datetime", filter_out=True)

In [ ]:
filter.filter_by_id(df, 5)

In [59]:
transformations.create_update_tid_based_on_id_datatime(df)

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...

In [ ]:
df.head()

In [ ]:
filter.filter_by_tid(df, "12008102305")

In [ ]:
teste = filter.clean_duplicates(df)
print(teste)

In [ ]:
df.info()

In [ ]:
#perguntar Nickson
df_clean_cons_duplicates = filter.clean_consecutive_duplicates(df, subset = ["lat"])
df_clean_cons_duplicates.info()

In [ ]:
df.info()

In [ ]:
df_clean_cons_duplicates.head()

In [ ]:
teste = filter.clean_NaN_values(df)

In [ ]:
df.info()

In [60]:
transformations.create_update_tid_based_on_id_datatime(df)

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...

In [61]:
transformations.create_update_dist_features(df)

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217654/217654) 100% in 00:00:00.062 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.06778335571289062

In [ ]:
filter.clean_trajectories_with_few_points(df)

In [ ]:
df.info()

In [62]:
filter.filter_jumps(df, threshold=1.2)

...Filtring jumps

,id,lat,lon,datetime,tid,dist_to_prev,dist_to_next,dist_prev_to_next
149,1,39.970511,116.341455,2008-10-23 10:32:53,12008102310,1452.319115,1470.641291,71.088460
339,1,39.995042,116.326465,2008-10-23 10:44:24,12008102310,10.801860,10.274331,1.465144
8134,1,39.991075,116.188395,2008-10-25 08:20:19,12008102508,5.090766,6.247860,1.295191
10176,1,40.015169,116.311045,2008-10-25 23:40:12,12008102523,23.454754,24.899678,3.766959
16443,1,39.977059,116.329346,2008-10-27 04:07:34,12008102704,7.928171,7.364642,1.890314
17240,1,39.978091,116.326951,2008-10-27 11:44:11,12008102711,10.280497,11.145905,2.733596
17346,1,39.987394,116.326295,2008-10-27 11:50:04,12008102711,9.275827,11.255147,2.807975
18434,1,39.979037,116.325211,2008-10-28 00:01:13,12008102800,14.085240,14.791134,1.873477
18522,1,39.980041,116.327311,2008-10-28 10:31:48,12008102810,10.518282,12.489050,3.358098
19149,1,40.013738,116.306690,2008-10-28 23:30:54,12008102823,12.304253,9.901424,2.407787
21733,1,39.976037,116.312612,2008-10-30 06:55:40,12008103006,10.014500,8.622851,1.428933
23012,1,39.978095,116.325310,2008-10-31 00:12:27,12008103100,16.390434,14.836538,1.596927
23814,1,39.975924,116.324777,2008-10-31 07:57:20,12008103107,298.500015,366.305078,71.435388
23947,1,40.013658,116.306276,2008-11-01 00:42:50,12008110100,15.980007,17.178112,2.680880
27097,1,39.964858,116.339034,2008-11-01 06:06:17,12008110106,9.354360,7.371449,2.311353
27506,1,39.904316,116.420015,2008-11-01 07:12:51,12008110107,5.782031,4.993721,1.325903
28813,1,40.000002,116.317874,2008-11-02 12:07:22,12008110212,13.193084,16.501942,3.422514
29214,1,40.003670,116.316570,2008-11-02 12:40:38,12008110212,252.455692,319.114416,67.170862
31476,1,39.974603,116.314146,2008-11-04 06:30:49,12008110406,103.300122,81.551480,21.953704
31890,1,39.975006,116.332835,2008-11-04 12:25:36,12008110412,7.987443,7.922538,1.699925
31907,1,39.974345,116.332641,2008-11-04 12:26:56,12008110412,8.776803,8.284612,1.707867
33946,1,39.975669,116.327537,2008-11-05 11:04:54,12008110511,6.292431,7.478099,1.234960
34126,1,39.974143,116.332149,2008-11-05 11:18:28,12008110511,5.200389,5.370584,1.551639
34279,1,39.974613,116.335792,2008-11-05 11:51:53,12008110511,216.370436,208.990635,17.753787
41602,1,39.978960,116.327761,2008-11-07 10:21:25,12008110710,5.428655,5.885177,1.316091
42505,1,39.979914,116.330480,2008-11-07 16:17:33,12008110716,14.210378,13.061742,1.485169
44034,1,39.986045,116.317310,2008-11-08 04:44:59,12008110804,621.720856,604.490907,66.680552
45068,1,39.960014,116.364003,2008-11-08 09:51:26,12008110809,8.328868,7.060157,1.316391
46177,1,39.978717,116.310204,2008-11-08 11:00:07,12008110811,5.421122,4.707073,1.566029
51510,1,39.974442,116.314243,2008-11-12 06:09:14,12008111206,11.508116,10.432320,2.557483
...,...,...,...,...,...,...,...,...
203763,5,39.978119,116.339271,2009-01-16 15:30:24,52009011615,11.343899,9.194229,2.509573
203806,5,39.976951,116.337621,2009-01-16 15:32:12,52009011615,6.648869,5.345192,1.393820
204028,5,39.973020,116.332870,2009-01-16 15:50:51,52009011615,4.919163,6.306348,1.557159
204135,5,39.972541,116.335310,2009-01-16 16:07:37,52009011616,300.483927,309.901548,16.565673
204253,5,39.975021,116.336093,2009-01-16 16:25:54,52009011616,11.177605,9.942844,2.899317
205692,5,39.975656,116.335227,2009-01-16 20:35:05,52009011620,7.564183,9.478132,2.032972
205781,5,39.975839,116.335754,2009-01-16 20:41:25,52009011620,6.088846,7.339508,2.009472
206125,5,39.976118,116.335855,2009-01-16 21:18:24,52009011621,6.635810,5.546256,1.455545
207290,5,39.976506,116.336825,2009-01-16 23:56:22,52009011623,7.780637,8.433167,2.330048
207373,5,39.974947,116.337074,2009-01-17 00:00:14,52009011700,6.591840,7.676707,2.029113
207719,5,39.939605,116.347065,2009-01-17 00:15:52,52009011700,26.511936,31.539042,6.982607
210989,5,40.000565,116.325100,2009-01-20 11:07:29,52009012011,24.519503,24.680411,8.094948
212054,5,41.108173,121.152615,2009-02-08 04:55:52,52009020804,7.321795,7.584986,1.771964
212304,5,41.105644,121.142872,2009-02-08 05:04:31,52009020805,4.195669,4.821277,1.261689
213801,5,39.997365,116.325673,2009-02-22 05:26:35,52009022205,324.611990,290.333051,61.648419
213883,5,40.000080,116.326789,2009-02-22 05:35:45,52009022205,11.016630,9.137459,2.051848
213890,5,39.995447,116.330002,2009-02-22 05:47:55,52009022205,661.482379,547.260044,116.938343
214184,5,39.993629,116.325744,2009-02-22 07:25:50,52009022207,38.435488,41.547820,8.894404
214646,5,39.996562,116.329638,2009-02-22 09:54:45,52009022209,11.124147,9.707797,1.498289
214784,5,39.996225,116.328718,2009-02-22 10:05:40,52009022210,21.684952,26.789695,6.448395
215616,5,39.999948,116.312184,2009-02-24 04:05:05,52009022404,1273.284419,1112.346756,161.841165
215728,5,40.012340,116.322149,2009-02-24 04:33:55,52009022404,215.730714,274.084897,59.797859
216363,5,40.000086,116.326476,2009-02-28 03:46:20,52009022803,31.344772,36.731366,6.604876
216369,5,39.998095,116.328165,2009-02-28 03:50:10,52009022803,273.814277,284.076220,10.357162
216378,5,40.000293,116.326975,2009-02-28 03:50:50,52009022803,18.055408,17.245615,1.711249
216878,5,39.992096,116.329136,2009-03-12 15:57:42,52009031215,7.035981,6.182086,1.909349
216928,5,39.998061,116.326402,2009-03-12 16:02:17,52009031216,16.758753,19.151449,4.051863
217457,5,40.001983,116.328414,2009-03-19 04:35:52,52009031904,179.564668,191.030434,15.276237
217466,5,40.001433,116.321387,2009-03-19 04:41:02,52009031904,77.928727,75.686512,16.676141
217480,5,40.003626,116.317695,2009-03-19 05:02:52,52009031905,9.725231,7.573682,2.463175

In [ ]:
filter.clean_gps_jumps_by_distance(df)

In [ ]:
filter.clean_trajectories_short_and_few_points_(df)

In [ ]:
transformations.create_update_dist_time_speed_features(df)

In [53]:
filter.clean_gps_speed_max_radius(df)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217654/217654) 100% in 00:00:00.223 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.229

Clean gps points with speed max > 50.0 meters by seconds
...There 349 gps points with speed_max > 50.0

...Dropping 349 rows of jumps by speed max

...Rows before: 217654, Rows after:217305


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217305/217305) 100% in 00:00:00.199 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.205

Clean gps points with speed max > 50.0 meters by seconds
...There 21 gps points with speed_max > 50.0

...Dropping 21 rows of jumps by speed max

...Rows before: 217305, Rows after:217284


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217284/217284) 100% in 00:00:00.204 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.210

Clean gps points with speed max > 50.0 meters by seconds
...There 14 gps points with speed_max > 50.0

...Dropping 14 rows of jumps by speed max

...Rows before: 217284, Rows after:217270


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217270/217270) 100% in 00:00:00.206 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.212

Clean gps points with speed max > 50.0 meters by seconds
...There 7 gps points with speed_max > 50.0

...Dropping 7 rows of jumps by speed max

...Rows before: 217270, Rows after:217263


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217263/217263) 100% in 00:00:00.226 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.231

Clean gps points with speed max > 50.0 meters by seconds
...There 3 gps points with speed_max > 50.0

...Dropping 3 rows of jumps by speed max

...Rows before: 217263, Rows after:217260


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217260/217260) 100% in 00:00:00.220 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.225

Clean gps points with speed max > 50.0 meters by seconds
...There 2 gps points with speed_max > 50.0

...Dropping 2 rows of jumps by speed max

...Rows before: 217260, Rows after:217258


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217258/217258) 100% in 00:00:00.209 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.230

Clean gps points with speed max > 50.0 meters by seconds
...There 1 gps points with speed_max > 50.0

...Dropping 1 rows of jumps by speed max

...Rows before: 217258, Rows after:217257


Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217257/217257) 100% in 00:00:00.197 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.203

Clean gps points with speed max > 50.0 meters by seconds
...There 0 gps points with speed_max > 50.0

In [52]:
transformations.create_update_dist_time_speed_features(df)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

C:\Users\Arina\Desktop\PyMove\pymove\utils\transformations.py:299: RuntimeWarning: invalid value encountered in true_divide
  df_.at[idx, dic_features_label['speed_to_next']] = df_.at[idx, dic_features_label['dist_to_next']] / (time_next)  # unit: m/s

(217654/217654) 100% in 00:00:00.209 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.218