# Test traj_utils

In [1]:
from pymove.utils import traj_utils
from pymove.core.MoveDataFrame import MoveDataFrame

In [2]:
lista_antiga = [1, 3 , "a",4, 2]
lista_nova = [1, 1, 3]

In [3]:
traj_utils.fill_list_with_new_values(lista_antiga, lista_nova)

In [4]:
resultado = traj_utils.shift(lista_antiga, -2, fill_value=54)

In [5]:
resultado

array([ 3,  4,  2, 54, 54])

In [6]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)

In [7]:
traj_utils.save_bbox(bbox, "test_bbox.txt")

# Test math_utils

In [8]:
from pymove.utils import math_utils

In [9]:
import pandas as pd

In [10]:
math_utils.std(400, 4, 2)

9.797958971132712

In [11]:
math_utils.array_sum([2, 3, 4, 5])

14

In [12]:
#math_utils.arrays_avg([2, 3, 4, 5])

In [13]:
math_utils.array_stats([2, 3, 4, 5])

(14, 54, 4)

In [14]:
math_utils.interpolation(2, 3.4, 3.4, 6, 7.9)

14.357142857142858

# Test date_utils

In [15]:
from pymove.utils import date_utils
import pandas as pd

In [16]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [17]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [18]:
data = date_utils.date_to_str(df_move["datetime"][0])
data

'2008-10-23'

In [19]:
date_utils.str_to_datetime(data)

datetime.datetime(2008, 10, 23, 0, 0)

In [20]:
date_utils.datetime_to_str(df_move["datetime"][0])

'2008-10-23 05:53:05'

In [21]:
date_utils.min_to_datetime(2)

datetime.datetime(1970, 1, 1, 0, 2)

In [22]:
import datetime
date_utils.date_to_day_of_week_int(datetime.datetime(2014, 1, 1, 20, 56))

2

In [23]:
date_utils.working_day(df_move["datetime"][0], [df_move["datetime"][1], df_move["datetime"][2]])

True

In [24]:
date_utils.now_str()

'2019-10-15 13:09:54'

# Test time_utils

In [25]:
from pymove.utils import time_utils

In [26]:
time_utils.deltatime_str(1082.7180936336517)

'00:18:02.718'

In [27]:
time_utils.timestamp_to_millis('2015-12-12 08:00:00.123000')

1449907200123

In [28]:
date = time_utils.millis_to_timestamp(1449907200123)

In [29]:
time_utils.time_to_str(date)

'08:00:00'

In [30]:
tempo = time_utils.str_to_time('08:00:00')

In [31]:
time_utils.elapsed_time_dt(df_move["datetime"][0])

346403809829

In [32]:
time_utils.diff_time(tempo, tempo)

0

## Test conversion

In [33]:
from pymove.utils import conversions

In [34]:
conversions.list_to_str(["arina", 3, 4])

'arina,3,4'

In [35]:
conversions.list_to_csv_str(["arina", 3, 4])

'arina,3,4'

In [36]:
conversions.list_to_svm_line(["arina", 3, 4])

'arina 1:3 2:4'

In [37]:
conversions.lon2XSpherical(df_move["lon"][0])

12948598.120982615

In [38]:
df_move.generate_dist_time_speed_features()

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.156 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.158

In [39]:
conversions.transform_speed_from_kmh_to_ms(df_move)

In [40]:
df_move.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,3.802820
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,0.411322
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.101171
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.160537

In [41]:
conversions.transform_speed_from_ms_to_kmh(df_move)

In [42]:
df_move

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934
5,1,39.984710,116.319865,2008-10-23 05:53:23,66.555997,2.0,33.277998
6,1,39.984674,116.319810,2008-10-23 05:53:28,6.162987,5.0,1.232597
7,1,39.984623,116.319773,2008-10-23 05:53:33,6.488225,5.0,1.297645
8,1,39.984606,116.319732,2008-10-23 05:53:38,3.971848,5.0,0.794370
9,1,39.984555,116.319728,2008-10-23 05:53:43,5.681172,5.0,1.136234
10,1,39.984579,116.319769,2008-10-23 05:53:48,4.395924,5.0,0.879185
11,1,39.984579,116.319769,2008-10-23 05:53:51,0.000000,3.0,0.000000
12,1,39.984577,116.319766,2008-10-23 05:53:53,0.338804,2.0,0.169402
13,1,39.984611,116.319822,2008-10-23 05:53:58,6.087463,5.0,1.217493
14,1,39.984959,116.319969,2008-10-23 05:54:03,40.672170,5.0,8.134434
15,1,39.985036,116.320056,2008-10-23 05:54:04,11.324767,1.0,11.324767
16,1,39.984741,116.320037,2008-10-23 05:54:05,32.842422,1.0,32.842422
17,1,39.984620,116.320120,2008-10-23 05:54:07,15.199759,2.0,7.599879
18,1,39.984530,116.320242,2008-10-23 05:54:11,14.428901,4.0,3.607225
19,1,39.984508,116.320331,2008-10-23 05:54:16,7.967597,5.0,1.593519
20,1,39.984537,116.320443,2008-10-23 05:54:21,10.072480,5.0,2.014496
21,1,39.984529,116.320573,2008-10-23 05:54:26,11.111606,5.0,2.222321
22,1,39.984466,116.320683,2008-10-23 05:54:30,11.700748,4.0,2.925187
23,1,39.984409,116.320778,2008-10-23 05:54:34,10.280271,4.0,2.570068
24,1,39.984320,116.320808,2008-10-23 05:54:38,10.221096,4.0,2.555274
25,1,39.984252,116.320826,2008-10-23 05:54:43,7.715212,5.0,1.543042
26,1,39.984238,116.320844,2008-10-23 05:54:48,2.185253,5.0,0.437051
27,1,39.984232,116.320853,2008-10-23 05:54:53,1.016413,5.0,0.203283
28,1,39.984246,116.320870,2008-10-23 05:54:58,2.126326,5.0,0.425265
29,1,39.984266,116.320876,2008-10-23 05:55:03,2.281896,5.0,0.456379
...,...,...,...,...,...,...,...
217623,5,40.001137,116.326452,2009-03-19 05:44:02,5.587506,5.0,1.117501
217624,5,40.001103,116.326519,2009-03-19 05:44:07,6.845641,5.0,1.369128
217625,5,40.001126,116.326607,2009-03-19 05:44:12,7.920028,5.0,1.584006
217626,5,40.001091,116.326667,2009-03-19 05:44:17,6.423851,5.0,1.284770
217627,5,40.001073,116.326735,2009-03-19 05:44:22,6.128231,5.0,1.225646
217628,5,40.001073,116.326821,2009-03-19 05:44:27,7.325387,5.0,1.465077
217629,5,40.001080,116.326905,2009-03-19 05:44:32,7.197242,5.0,1.439448
217630,5,40.001073,116.326977,2009-03-19 05:44:37,6.182078,5.0,1.236416
217631,5,40.001064,116.327037,2009-03-19 05:44:42,5.207795,5.0,1.041559
217632,5,40.001033,116.327062,2009-03-19 05:44:47,4.051760,5.0,0.810352
217633,5,40.001022,116.327054,2009-03-19 05:44:52,1.400154,5.0,0.280031
217634,5,40.001022,116.327054,2009-03-19 05:44:55,0.000000,3.0,0.000000
217635,5,40.001023,116.327058,2009-03-19 05:44:57,0.358402,2.0,0.179201
217636,5,40.001019,116.327071,2009-03-19 05:45:02,1.193315,5.0,0.238663
217637,5,40.000759,116.327088,2009-03-19 05:45:07,28.946922,5.0,5.789384
217638,5,40.000595,116.327066,2009-03-19 05:45:12,18.331999,5.0,3.666400
217639,5,40.000514,116.327017,2009-03-19 05:45:17,9.926875,5.0,1.985375
217640,5,40.000457,116.327019,2009-03-19 05:45:22,6.340400,5.0,1.268080
217641,5,40.000368,116.327072,2009-03-19 05:45:27,10.877438,5.0,2.175488
217642,5,40.000291,116.327100,2009-03-19 05:45:32,8.887992,5.0,1.777598
217643,5,40.000205,116.327173,2009-03-19 05:45:37,11.406650,5.0,2.281330
217644,5,40.000128,116.327171,2009-03-19 05:45:42,8.563704,5.0,1.712741
217645,5,40.000069,116.327179,2009-03-19 05:45:47,6.595796,5.0,1.319159
217646,5,40.000001,116.327219,2009-03-19 05:45:52,8.293470,5.0,1.658694
217647,5,39.999919,116.327211,2009-03-19 05:45:57,9.143413,5.0,1.828683
217648,5,39.999896,116.327290,2009-03-19 05:46:02,7.198855,5.0,1.439771
217649,5,39.999899,116.327352,2009-03-19 05:46:07,5.291709,5.0,1.058342
217650,5,39.999945,116.327394,2009-03-19 05:46:12,6.241949,5.0,1.248390
217651,5,40.000015,116.327433,2009-03-19 05:46:17,8.462920,5.0,1.692584
217652,5,39.999978,116.327460,2009-03-19 05:46:37,4.713399,20.0,0.235670

In [43]:
conversions.transform_dist_from_meters_to_kilometers(df_move)

In [44]:
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [45]:
conversions.transform_dist_from_to_kilometers_to_meters(df_move)
conversions.transform_time_from_hours_to_minute(df_move)
conversions.transform_time_from_hours_to_seconds(df_move)
conversions.transform_time_from_minute_to_hours(df_move)
conversions.transform_time_from_minute_to_seconds(df_move)
conversions.transform_time_from_seconds_to_hours(df_move)
conversions.transform_time_from_seconds_to_minutes(df_move)

In [46]:
df_move

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934
5,1,39.984710,116.319865,2008-10-23 05:53:23,66.555997,2.0,33.277998
6,1,39.984674,116.319810,2008-10-23 05:53:28,6.162987,5.0,1.232597
7,1,39.984623,116.319773,2008-10-23 05:53:33,6.488225,5.0,1.297645
8,1,39.984606,116.319732,2008-10-23 05:53:38,3.971848,5.0,0.794370
9,1,39.984555,116.319728,2008-10-23 05:53:43,5.681172,5.0,1.136234
10,1,39.984579,116.319769,2008-10-23 05:53:48,4.395924,5.0,0.879185
11,1,39.984579,116.319769,2008-10-23 05:53:51,0.000000,3.0,0.000000
12,1,39.984577,116.319766,2008-10-23 05:53:53,0.338804,2.0,0.169402
13,1,39.984611,116.319822,2008-10-23 05:53:58,6.087463,5.0,1.217493
14,1,39.984959,116.319969,2008-10-23 05:54:03,40.672170,5.0,8.134434
15,1,39.985036,116.320056,2008-10-23 05:54:04,11.324767,1.0,11.324767
16,1,39.984741,116.320037,2008-10-23 05:54:05,32.842422,1.0,32.842422
17,1,39.984620,116.320120,2008-10-23 05:54:07,15.199759,2.0,7.599879
18,1,39.984530,116.320242,2008-10-23 05:54:11,14.428901,4.0,3.607225
19,1,39.984508,116.320331,2008-10-23 05:54:16,7.967597,5.0,1.593519
20,1,39.984537,116.320443,2008-10-23 05:54:21,10.072480,5.0,2.014496
21,1,39.984529,116.320573,2008-10-23 05:54:26,11.111606,5.0,2.222321
22,1,39.984466,116.320683,2008-10-23 05:54:30,11.700748,4.0,2.925187
23,1,39.984409,116.320778,2008-10-23 05:54:34,10.280271,4.0,2.570068
24,1,39.984320,116.320808,2008-10-23 05:54:38,10.221096,4.0,2.555274
25,1,39.984252,116.320826,2008-10-23 05:54:43,7.715212,5.0,1.543042
26,1,39.984238,116.320844,2008-10-23 05:54:48,2.185253,5.0,0.437051
27,1,39.984232,116.320853,2008-10-23 05:54:53,1.016413,5.0,0.203283
28,1,39.984246,116.320870,2008-10-23 05:54:58,2.126326,5.0,0.425265
29,1,39.984266,116.320876,2008-10-23 05:55:03,2.281896,5.0,0.456379
...,...,...,...,...,...,...,...
217623,5,40.001137,116.326452,2009-03-19 05:44:02,5.587506,5.0,1.117501
217624,5,40.001103,116.326519,2009-03-19 05:44:07,6.845641,5.0,1.369128
217625,5,40.001126,116.326607,2009-03-19 05:44:12,7.920028,5.0,1.584006
217626,5,40.001091,116.326667,2009-03-19 05:44:17,6.423851,5.0,1.284770
217627,5,40.001073,116.326735,2009-03-19 05:44:22,6.128231,5.0,1.225646
217628,5,40.001073,116.326821,2009-03-19 05:44:27,7.325387,5.0,1.465077
217629,5,40.001080,116.326905,2009-03-19 05:44:32,7.197242,5.0,1.439448
217630,5,40.001073,116.326977,2009-03-19 05:44:37,6.182078,5.0,1.236416
217631,5,40.001064,116.327037,2009-03-19 05:44:42,5.207795,5.0,1.041559
217632,5,40.001033,116.327062,2009-03-19 05:44:47,4.051760,5.0,0.810352
217633,5,40.001022,116.327054,2009-03-19 05:44:52,1.400154,5.0,0.280031
217634,5,40.001022,116.327054,2009-03-19 05:44:55,0.000000,3.0,0.000000
217635,5,40.001023,116.327058,2009-03-19 05:44:57,0.358402,2.0,0.179201
217636,5,40.001019,116.327071,2009-03-19 05:45:02,1.193315,5.0,0.238663
217637,5,40.000759,116.327088,2009-03-19 05:45:07,28.946922,5.0,5.789384
217638,5,40.000595,116.327066,2009-03-19 05:45:12,18.331999,5.0,3.666400
217639,5,40.000514,116.327017,2009-03-19 05:45:17,9.926875,5.0,1.985375
217640,5,40.000457,116.327019,2009-03-19 05:45:22,6.340400,5.0,1.268080
217641,5,40.000368,116.327072,2009-03-19 05:45:27,10.877438,5.0,2.175488
217642,5,40.000291,116.327100,2009-03-19 05:45:32,8.887992,5.0,1.777598
217643,5,40.000205,116.327173,2009-03-19 05:45:37,11.406650,5.0,2.281330
217644,5,40.000128,116.327171,2009-03-19 05:45:42,8.563704,5.0,1.712741
217645,5,40.000069,116.327179,2009-03-19 05:45:47,6.595796,5.0,1.319159
217646,5,40.000001,116.327219,2009-03-19 05:45:52,8.293470,5.0,1.658694
217647,5,39.999919,116.327211,2009-03-19 05:45:57,9.143413,5.0,1.828683
217648,5,39.999896,116.327290,2009-03-19 05:46:02,7.198855,5.0,1.439771
217649,5,39.999899,116.327352,2009-03-19 05:46:07,5.291709,5.0,1.058342
217650,5,39.999945,116.327394,2009-03-19 05:46:12,6.241949,5.0,1.248390
217651,5,40.000015,116.327433,2009-03-19 05:46:17,8.462920,5.0,1.692584
217652,5,39.999978,116.327460,2009-03-19 05:46:37,4.713399,20.0,0.235670