In [1]:
import pymove
from pymove import MoveDataFrame
import pandas as pd

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
move_df = MoveDataFrame(data=df, latitude="lat", longitude="lon", datetime="datetime")

move_df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
#from pymove import clustering

In [4]:
#k = clustering.elbow_method(move_data=move_df[['lat', 'lon']], k_initial = 2, max_clusters = 17, k_iteration = 2)

In [5]:
#k

In [6]:
#a = clustering.gap_statistic(move_data=move_df[['lat', 'lon']])

In [7]:
#a

In [11]:
#from pymove import compression

In [12]:
#compression.compress_segment_stop_to_point_optimizer(move_df)

In [13]:
#compression.compress_segment_stop_to_point(move_df)