In [41]:
from pymove import db
from pandas import DataFrame, Timestamp
from pandas.testing import assert_frame_equal
from psycopg2.extensions import connection
from pymongo.database import Database
import pandas as pd

from pymove import MoveDataFrame
from pymove.utils import db
from pymove.utils.constants import DATETIME, LATITUDE, LONGITUDE, TRAJ_ID

list_data = [
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1],
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 2],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 2],
]


def _default_move_df():
    return MoveDataFrame(
        data=list_data,
        latitude=LATITUDE,
        longitude=LONGITUDE,
        datetime=DATETIME,
        traj_id=TRAJ_ID,
    )


TABLE_NAME = 'test_table'
DB_NAME = 'travis_ci_test'

In [42]:
DB_NAME = 'travis_ci_test'

In [43]:
db.connect_mongo(DB_NAME)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'travis_ci_test')

In [44]:
df_move = _default_move_df()

In [5]:
df = pd.DataFrame(list_data, columns=['lat', 'lon', 'datetime', 'id'])

In [6]:
df

         lat         lon             datetime  id
0  39.984094  116.319236  2008-10-23 05:53:05   1
1  39.984198  116.319322  2008-10-23 05:53:06   1
2  39.984224  116.319402  2008-10-23 05:53:11   2
3  39.984224  116.319402  2008-10-23 05:53:11   2

In [7]:
a = df.to_dict(orient='index')

In [8]:
a

{0: {'lat': 39.984094,
  'lon': 116.319236,
  'datetime': '2008-10-23 05:53:05',
  'id': 1},
 1: {'lat': 39.984198,
  'lon': 116.319322,
  'datetime': '2008-10-23 05:53:06',
  'id': 1},
 2: {'lat': 39.984224,
  'lon': 116.319402,
  'datetime': '2008-10-23 05:53:11',
  'id': 2},
 3: {'lat': 39.984224,
  'lon': 116.319402,
  'datetime': '2008-10-23 05:53:11',
  'id': 2}}

In [45]:
db.write_mongo(collection='test_db', dataframe=df_move, dbname=DB_NAME)

4

In [29]:
collection = db.get_mongo_collection(collection='test_db', dbname=DB_NAME)

In [70]:
str(collection)

"Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'travis_ci_test'), 'test_db')"

In [51]:
res = db.read_mongo(collection='test_db', dbname=DB_NAME, filter_={'id':1}, projection={'datetime', 'lat'})

<class 'pymongo.collection.Collection'>

In [52]:
res

             datetime        lat
0 2008-10-23 05:53:05  39.984094
1 2008-10-23 05:53:06  39.984198

In [53]:
res.dtypes

datetime    datetime64[ns]
lat                float64
dtype: object

In [72]:
expected = ("Collection(Database(MongoClient(host=['localhost:27017'], "
                "document_class=dict, tz_aware=False, connect=True), "
                "'travis_ci_test'), 'test_db')")

In [ ]:
expected