In [176]:
import pandas as pd
from pandas import DataFrame,Timestamp
from pymove import MoveDataFrame
from pymove.core.grid import Grid
from numpy.testing import assert_equal
from pandas.testing import assert_frame_equal, assert_series_equal
from numpy.testing import assert_allclose, assert_array_equal
from shapely.geometry import Polygon

In [16]:
from pymove.utils.constants import (
    DATE,
    DATETIME,
    DAY,
    DIST_PREV_TO_NEXT,
    DIST_TO_PREV,
    HOUR,
    HOUR_SIN,
    LATITUDE,
    LONGITUDE,
    PERIOD,
    SITUATION,
    SPEED_PREV_TO_NEXT,
    TID,
    TIME_PREV_TO_NEXT,
    TRAJ_ID,
    TYPE_DASK,
    TYPE_PANDAS,
    UID,
    WEEK_END,
)

In [7]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df = df[:20]
df

          lat         lon            datetime  id
0   39.984094  116.319236 2008-10-23 05:53:05   1
1   39.984198  116.319322 2008-10-23 05:53:06   1
2   39.984224  116.319402 2008-10-23 05:53:11   1
3   39.984211  116.319389 2008-10-23 05:53:16   1
4   39.984217  116.319422 2008-10-23 05:53:21   1
5   39.984710  116.319865 2008-10-23 05:53:23   1
6   39.984674  116.319810 2008-10-23 05:53:28   1
7   39.984623  116.319773 2008-10-23 05:53:33   1
8   39.984606  116.319732 2008-10-23 05:53:38   1
9   39.984555  116.319728 2008-10-23 05:53:43   1
10  39.984579  116.319769 2008-10-23 05:53:48   1
11  39.984579  116.319769 2008-10-23 05:53:51   1
12  39.984577  116.319766 2008-10-23 05:53:53   1
13  39.984611  116.319822 2008-10-23 05:53:58   1
14  39.984959  116.319969 2008-10-23 05:54:03   1
15  39.985036  116.320056 2008-10-23 05:54:04   1
16  39.984741  116.320037 2008-10-23 05:54:05   1
17  39.984620  116.320120 2008-10-23 05:54:07   1
18  39.984530  116.320242 2008-10-23 05:54:11   1
19  39.984508  116.320331 2008-10-23 05:54:16   1

In [11]:
list_data = [
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1],
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 1],
    [39.984211, 116.319389, '2008-10-23 05:53:16', 1],
    [39.984217, 116.319422, '2008-10-23 05:53:21', 1],
    [39.984710, 116.319865, '2008-10-23 05:53:23', 1],
    [39.984674, 116.319810, '2008-10-23 05:53:28', 1],
    [39.984623, 116.319773, '2008-10-23 05:53:33', 1],
    [39.984606, 116.319732, '2008-10-23 05:53:38', 1],
    [39.984555, 116.319728, '2008-10-23 05:53:43', 1],
    [39.984579, 116.319769, '2008-10-23 05:53:48', 1],
    [39.984579, 116.319769, '2008-10-23 05:53:51', 1],
    [39.984577, 116.319766, '2008-10-23 05:53:53', 1],
    [39.984611, 116.319822, '2008-10-23 05:53:58', 1],
    [39.984959, 116.319969, '2008-10-23 05:54:03', 1],
    [39.985036, 116.320056, '2008-10-23 05:54:04', 1],
    [39.984741, 116.320037, '2008-10-23 05:54:05', 1],
    [39.984620, 116.320120, '2008-10-23 05:54:07', 1],
    [39.984530, 116.320242, '2008-10-23 05:54:11', 1],
    [39.984508, 116.320331, '2008-10-23 05:54:16', 1]
]

In [50]:
list_data = [
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1],
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 1],
    [39.984211, 116.319389, '2008-10-23 05:53:16', 1],
    [39.984217, 116.319422, '2008-10-23 05:53:21', 1],
    [39.984710, 116.319865, '2008-10-23 05:53:23', 1],
    [39.984674, 116.319810, '2008-10-23 05:53:28', 1],
    [39.984623, 116.319773, '2008-10-23 05:53:33', 1],
    [39.984606, 116.319732, '2008-10-23 05:53:38', 1],
    [39.984555, 116.319728, '2008-10-23 05:53:43', 1]
]

In [78]:
unsorted_list_data = [
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1],
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 1],
    [39.984710, 116.319865, '2008-10-23 05:53:23', 1],
    [39.984674, 116.319810, '2008-10-23 05:53:28', 1],
    [39.984623, 116.319773, '2008-10-23 05:53:33', 1],
    [39.984606, 116.319732, '2008-10-23 05:53:38', 1],
    [39.984555, 116.319728, '2008-10-23 05:53:43', 1],
    [39.984217, 116.319422, '2008-10-23 05:53:21', 1],
    [39.984211, 116.319389, '2008-10-23 05:53:16', 1]

]

In [79]:
def _default_move_df():
    return MoveDataFrame(
        data=list_data,
        latitude=LATITUDE,
        longitude=LONGITUDE,
        datetime=DATETIME,
        traj_id=TRAJ_ID,
    )

In [75]:
def _default_move_df_2():
    return MoveDataFrame(
        data=unsorted_list_data,
        latitude=LATITUDE,
        longitude=LONGITUDE,
        datetime=DATETIME,
        traj_id=TRAJ_ID,
    )

In [55]:
def test_get_grid():
    move_df = _default_move_df()
    
    grid = Grid(move_df, 15).get_grid() 
    
    expected = {'lon_min_x': 116.319236,
                 'lat_min_y': 39.984094,
                 'grid_size_lat_y': 5,
                 'grid_size_lon_x': 5,
                 'cell_size_by_degree': 0.0001353464801860623       
    }
    
    assert_equal(grid, expected)

In [56]:
test_get_grid()

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:5
grid_size_lon_x:5

..A virtual grid was created

In [85]:
def test_create_update_index_grid_feature():
    move_df = _default_move_df()
    
    grid = Grid(move_df, 15)    
    grid.create_update_index_grid_feature(data=move_df)
   
    #Testing function with sorted data
    expected = DataFrame(
        data=[
            [39.984094, 116.319236, Timestamp('2008-10-23 05:53:05'), 1, 0, 0],
            [39.984198, 116.319322, Timestamp('2008-10-23 05:53:06'), 1, 0, 0],
            [39.984224, 116.319402, Timestamp('2008-10-23 05:53:11'), 1, 0, 1],
            [39.984211, 116.319389, Timestamp('2008-10-23 05:53:16'), 1, 0, 1],
            [39.984217, 116.319422, Timestamp('2008-10-23 05:53:21'), 1, 0, 1],
            [39.984710, 116.319865, Timestamp('2008-10-23 05:53:23'), 1, 4, 4],
            [39.984674, 116.319810, Timestamp('2008-10-23 05:53:28'), 1, 4, 4],
            [39.984623, 116.319773, Timestamp('2008-10-23 05:53:33'), 1, 3, 3],
            [39.984606, 116.319732, Timestamp('2008-10-23 05:53:38'), 1, 3, 3],
            [39.984555, 116.319728, Timestamp('2008-10-23 05:53:43'), 1, 3, 3]
        ],
        columns=['lat', 'lon', 'datetime', 'id', 'index_grid_lat', 'index_grid_lon'],
        index=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
    )
    
    assert_frame_equal(move_df, expected) 
    
    #Testing function with unsorted data
    unsorted_move_df = _default_move_df_2()
    
    grid = Grid(move_df, 15)    
    grid.create_update_index_grid_feature(data=unsorted_move_df)
   
    expected = DataFrame(
        data=[
            [39.984094, 116.319236, Timestamp('2008-10-23 05:53:05'), 1, 0, 0],
            [39.984198, 116.319322, Timestamp('2008-10-23 05:53:06'), 1, 0, 0],
            [39.984224, 116.319402, Timestamp('2008-10-23 05:53:11'), 1, 0, 1],
            [39.984211, 116.319389, Timestamp('2008-10-23 05:53:16'), 1, 0, 1],
            [39.984217, 116.319422, Timestamp('2008-10-23 05:53:21'), 1, 0, 1],
            [39.984710, 116.319865, Timestamp('2008-10-23 05:53:23'), 1, 4, 4],
            [39.984674, 116.319810, Timestamp('2008-10-23 05:53:28'), 1, 4, 4],
            [39.984623, 116.319773, Timestamp('2008-10-23 05:53:33'), 1, 3, 3],
            [39.984606, 116.319732, Timestamp('2008-10-23 05:53:38'), 1, 3, 3],
            [39.984555, 116.319728, Timestamp('2008-10-23 05:53:43'), 1, 3, 3]
        ],
        columns=['lat', 'lon', 'datetime', 'id', 'index_grid_lat', 'index_grid_lon'],
        index=[1, 0, 2, 9, 8, 3, 4, 5, 6, 7],
    )
    
    assert_frame_equal(unsorted_move_df, expected)

In [86]:
test_create_update_index_grid_feature()

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:5
grid_size_lon_x:5

..A virtual grid was created

Creating or updating index of the grid feature..

...[10,10] indexes were created to lat and lon

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:5
grid_size_lon_x:5

..A virtual grid was created

Creating or updating index of the grid feature..

...[10,10] indexes were created to lat and lon

In [160]:
def test_create_one_polygon_to_point_on_grid():
    expected = [[ 39.984094,  116.3193713464802],
                 [ 39.984229346480184 ,116.3193713464802],
                 [ 39.984229346480184, 116.31950669296039],
                 [ 39.984094,  116.31950669296039],
                 [ 39.984094,  116.3193713464802]]
    
    move_df = _default_move_df()
    grid = Grid(move_df, 15)
    
    polygon = grid.create_one_polygon_to_point_on_grid(index_grid_lat=0, index_grid_lon=1)
    
    polygon_coordinates = array(polygon.exterior.coords)
    
    assert_array_equal(polygon_coordinates, expected)

In [161]:
test_create_one_polygon_to_point_on_grid()

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:5
grid_size_lon_x:5

..A virtual grid was created

In [202]:
def test_create_all_polygons_to_all_point_on_grid():
    expected = DataFrame(
        data=[
            [1, 0, 0, Polygon(((39.984094, 116.319236), (39.984229346480184, 116.319236), (39.984229346480184, 116.3193713464802), (39.984094, 116.3193713464802), (39.984094, 116.319236)))],
            [1, 0, 1, Polygon(((39.984094, 116.319236), (39.984229346480184, 116.319236), (39.984229346480184, 116.3193713464802), (39.984094, 116.3193713464802), (39.984094, 116.319236)))],
            [1, 4, 4, Polygon(((39.984094, 116.3193713464802), (39.984229346480184, 116.3193713464802), (39.984229346480184, 116.31950669296039), (39.984094, 116.31950669296039), (39.984094, 116.3193713464802)))],
            [1, 3, 3, Polygon(((39.984094, 116.3193713464802), (39.984229346480184, 116.3193713464802), (39.984229346480184, 116.31950669296039), (39.984094, 116.31950669296039), (39.984094, 116.3193713464802)))],
        ],
        columns=['id', 'index_grid_lat', 'index_grid_lon', 'polygon'],
        index=[0, 2, 5, 7],
    )
    
    all_polygon = grid.create_all_polygons_to_all_point_on_grid(move_df)
    
    assert_frame_equal(all_polygon, expected)

In [201]:
test_create_all_polygons_to_all_point_on_grid()

Creating or updating index of the grid feature..

...[10,10] indexes were created to lat and lon

VBox(children=(HTML(value=''), IntProgress(value=0, max=4)))

...polygons were created

In [211]:
def test_point_to_index_grid():
    move_df = _default_move_df()
    grid = Grid(move_df, 15)
    
    index_lat, index_lon = grid.point_to_index_grid(event_lat = 39.984217, event_lon = 116.319422)
    
    assert(index_lat == 0.0)
    
    assert(index_lon == 1.0)

In [212]:
test_point_to_index_grid()

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:5
grid_size_lon_x:5

..A virtual grid was created
...[1,1] indexes were created to lat and lon

In [203]:
move_df = _default_move_df()
grid = Grid(move_df, 15)

Creating a virtual grid without polygons
...cell size by degree: 0.0001353464801860623
...grid_size_lat_y:5
grid_size_lon_x:5

..A virtual grid was created