In [32]:
import os
from datetime import date
from pymove import db
from dask.dataframe import DataFrame as DaskDataFrame
from matplotlib.testing.compare import compare_images
from numpy import nan, ndarray
from numpy.testing import assert_allclose, assert_array_equal
from pandas import DataFrame, Series, Timedelta, Timestamp
from pandas.testing import assert_frame_equal, assert_series_equal

import pymove
from pymove import DaskMoveDataFrame, MoveDataFrame, PandasMoveDataFrame, read_csv
from pymove.utils.constants import (
    DATE,
    DATETIME,
    DAY,
    DIST_PREV_TO_NEXT,
    DIST_TO_PREV,
    HOUR,
    HOUR_SIN,
    LATITUDE,
    LONGITUDE,
    PERIOD,
    SITUATION,
    SPEED_PREV_TO_NEXT,
    TID,
    TIME_PREV_TO_NEXT,
    TRAJ_ID,
    TYPE_DASK,
    TYPE_PANDAS,
    UID,
    WEEK_END,
)

list_data = [
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1],
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 2],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 2],
]


def _default_move_df():
    return MoveDataFrame(
        data=list_data,
        latitude=LATITUDE,
        longitude=LONGITUDE,
        datetime=DATETIME,
        traj_id=TRAJ_ID,
    )

In [33]:
move_df = _default_move_df()

In [34]:
db.write_postgres(table='testedb', dbname='titi',dataframe=move_df, psswrd='arina')

OperationalError: FATAL:  database "titi" does not exist

In [25]:
df = db.read_postgres(query='SELECT * FROM public.testedb WHERE id = 2', psswrd='arina')

In [20]:
df

   _id  id        lat         lon            datetime
0    3   2  39.984224  116.319402 2008-10-23 05:53:11
1    4   2  39.984224  116.319402 2008-10-23 05:53:11

In [27]:
con = db.connect_postgres(psswrd='arina')

In [30]:
df = db.read_sql_inmem_uncompressed(query='SELECT * FROM public.testedb WHERE id = 2', conn=con)

In [31]:
df

   _id  id        lat         lon             datetime
0    3   2  39.984224  116.319402  2008-10-23 05:53:11
1    4   2  39.984224  116.319402  2008-10-23 05:53:11

In [ ]:
df = db.read_sql_tmpfile(query='SELECT * FROM public.testedb', conn=con)

In [ ]:
df