# #02 - Exploring Preprocessing

Data preprocessing is a set of activities performed to prepare data for future analysis and data mining activities.

## Load data from file

The dataset used in this tutorial is GeoLife GPS Trajectories. Available in https://www.microsoft.com/en-us/download/details.aspx?id=52367

In [1]:
import pandas as pd
import numpy as np
from pymove import MoveDataFrame

In [2]:
df = pd.read_csv('examples/geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [3]:
df_move = MoveDataFrame(df, latitude="lat", longitude="lon", datetime="datetime")

In [4]:
df_move.show_trajectories_info()

======================= INFORMATION ABOUT DATASET =======================

Number of Points: 217653

Number of IDs objects: 2

Start Date:2008-10-23 05:53:05     End Date:2009-03-19 05:46:37

Bounding Box:(22.147577, 113.54884299999999, 41.132062, 121.156224)


=========================================================================

## Filtering

The filters module provides functions to perform different types of data filtering.

Importing the module:

In [5]:
from pymove import filters

A bounding box (usually shortened to bbox) is an area defined by two longitudes and two latitudes. The function by_bbox, filters points of the trajectories according to a especified bounding box.

In [6]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)
filt_df = filters.by_bbox(df_move, bbox)
filt_df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

by_datetime function filters point trajectories according to the time specified by the parameters: start_datetime and end_datetime.

In [7]:
filters.by_datetime(df_move,start_datetime = "2009-03-19 05:45:37", end_datetime = "2009-03-19 05:46:17")

              lat         lon            datetime  id
217644  40.000128  116.327171 2009-03-19 05:45:42   5
217645  40.000069  116.327179 2009-03-19 05:45:47   5
217646  40.000001  116.327219 2009-03-19 05:45:52   5
217647  39.999919  116.327211 2009-03-19 05:45:57   5
217648  39.999896  116.327290 2009-03-19 05:46:02   5
217649  39.999899  116.327352 2009-03-19 05:46:07   5
217650  39.999945  116.327394 2009-03-19 05:46:12   5
217651  40.000015  116.327433 2009-03-19 05:46:17   5

by label function filters trajectories points according to specified value and column label, set by value and label_name respectively.

In [8]:
filters.by_label(df_move, value = 116.327219, label_name = "lon").head()

             lat         lon            datetime  id
3066   39.979160  116.327219 2008-10-24 06:34:27   1
13911  39.975424  116.327219 2008-10-26 08:18:06   1
16396  39.980411  116.327219 2008-10-27 00:30:47   1
33935  39.975832  116.327219 2008-11-05 11:04:04   1
41636  39.976990  116.327219 2008-11-07 10:34:41   1

by_id function filters trajectories points according to especified trajectory id.

In [9]:
filters.by_id(df_move, id_=5).head()

              lat         lon            datetime  id
108607  40.004155  116.321337 2008-10-24 04:12:30   5
108608  40.003834  116.321462 2008-10-24 04:12:35   5
108609  40.003783  116.321431 2008-10-24 04:12:40   5
108610  40.003690  116.321429 2008-10-24 04:12:45   5
108611  40.003589  116.321427 2008-10-24 04:12:50   5

A tid is the result of concatenation between the id and date of a trajectory.
The by_tid function filters trajectory points according to the tid specified by the tid_ parameter.

In [10]:
df_move.generate_tid_based_on_id_datatime()
filters.by_tid(df_move, "12008102305").head()

Creating or updating tid feature...

...Sorting by id and datetime to increase performance


...tid feature was created...

         lat         lon            datetime  id          tid
0  39.984094  116.319236 2008-10-23 05:53:05   1  12008102305
1  39.984198  116.319322 2008-10-23 05:53:06   1  12008102305
2  39.984224  116.319402 2008-10-23 05:53:11   1  12008102305
3  39.984211  116.319389 2008-10-23 05:53:16   1  12008102305
4  39.984217  116.319422 2008-10-23 05:53:21   1  12008102305

outliers function filters trajectories points that are outliers.

In [11]:
outliers_points = filters.outliers(df_move)
outliers_points.head()

Creating or updating distance features in meters...

...Sorting by id and datetime to increase performance

...Set id as index to increase attribution performance

(217653/217653) 100% in 00:00:00.077 - estimated end in 00:00:00.000
...Reset index

..Total Time: 0.0802760124206543
...Filtring jumps

,id,lat,lon,datetime,tid,dist_to_prev,dist_to_next,dist_prev_to_next
148,1,39.970511,116.341455,2008-10-23 10:32:53,12008102310,1452.319115,1470.641291,71.088460
338,1,39.995042,116.326465,2008-10-23 10:44:24,12008102310,10.801860,10.274331,1.465144
8133,1,39.991075,116.188395,2008-10-25 08:20:19,12008102508,5.090766,6.247860,1.295191
10175,1,40.015169,116.311045,2008-10-25 23:40:12,12008102523,23.454754,24.899678,3.766959
13849,1,39.977157,116.327151,2008-10-26 08:13:53,12008102608,11.212682,10.221164,1.004375

clen_duplicates function removes the duplicate rows of the Dataframe, optionally only certaind columns can be consider.

In [12]:
filters.clean_duplicates(df_move)

Remove rows duplicates by subset
...Sorting by id and datetime to increase performance

...There are no GPS points duplicated

clean_consecutive_duplicates function removes consecutives duplicate rows of the Dataframe. Optionally only certaind columns can be consider, this is defined by the parameter subset, in this example only the lat column is considered.

In [13]:
filtered_df = filters.clean_consecutive_duplicates(df_move, subset = ["lat"])
len(filtered_df)

196142

clean_nan_values function removes missing values from the dataframe.

In [14]:
filters.clean_nan_values(df_move)
len(df_move)

217649

clean_gps_jumps_by_distance function removes from the dataframe the trajectories points that are outliers.

In [15]:
filters.clean_gps_jumps_by_distance(df_move)

Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

...Dropping 383 rows of gps points

...Rows before: 217649, Rows after:217266, Sum drop:383


Cleaning gps jumps by distance to jump_coefficient 3.0...

...Filtring jumps

383 GPS points were dropped

clean_gps_nearby_points_by_distances function removes points from the trajectories when the distance between them and the point before is smaller than the parameter radius_area.

In [16]:
filters.clean_gps_nearby_points_by_distances(df_move, radius_area = 10)

Cleaning gps points from radius of 10 meters

...There are 137478 gps points to drop

...Dropping 137478 gps points

...Rows before: 217266, Rows after:79788


Cleaning gps points from radius of 10 meters

...There are 0 gps points to drop

clean_gps_nearby_points_by_speed function removes points from the trajectories when the speed of travel between them
and the point before is smaller than the value set by the parameter speed_radius.

In [17]:
filters.clean_gps_nearby_points_by_speed(df_move, speed_radius=40.0)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(79788/79788) 100% in 00:00:00.149 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.151

Cleaning gps points using 40.0 speed radius

...There are 79586 gps points to drop

...Dropping 79586 gps points

...Rows before: 79788, Rows after:202


Cleaning gps points using 0.0 speed radius

...There are 0 gps points to drop

clean_gps_speed_max_radius function recursively removes trajectories points with speed higher than the value especifeid by the user.
    Given any point p of the trajectory, the point will be removed if one of the following happens:
    if the travel speed from the point before p to p is greater than the  max value of speed between adjacent
    points set by the user. Or the travel speed between point p and the next point is greater than the value set by
    the user. When the clening is done, the function will update the time and distance features in the dataframe and
    will call itself again.
    The function will finish processing when it can no longer find points disrespecting the limit of speed.

In [18]:
filters.clean_gps_speed_max_radius(df_move)

Clean gps points with speed max > 50.0 meters by seconds
...There 125 gps points with speed_max > 50.0

...Dropping 125 rows of jumps by speed max

...Rows before: 202, Rows after:77


Clean gps points with speed max > 50.0 meters by seconds
...There 0 gps points with speed_max > 50.0

clean_trajectories_with_few_points function removes from the given dataframe, trajectories with fewer points than was specified by the parameter min_points_per_trajectory.

In [19]:
filters.clean_trajectories_with_few_points(df_move)

...There are 44 ids with few points

...Tids before drop: 57

...Tids after drop: 13

...Shape - before drop: (77, 10) - after drop: (33, 10)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by tid and datetime to increase performance

...Set tid as index to a higher peformance

(33/33) 100% in 00:00:00.014 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.015

## Segmantation

The segmentation module are used to segment trajectories based on different parameters.

Importing the module:

In [20]:
from pymove import segmentation

bbox_split function splits the bounding box in grids of the same size. The number of grids is defined by the parameter number_grids.

In [21]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)
segmentation.bbox_split(bbox, number_grids=4)

const_lat: 4.74612125
const_lon: 1.901845250000001

     lat_min     lon_min    lat_max     lon_max
0  22.147577  113.548843  41.132062  115.450688
1  22.147577  115.450688  41.132062  117.352533
2  22.147577  117.352533  41.132062  119.254379
3  22.147577  119.254379  41.132062  121.156224

by_dist_time_speed functions segments the trajectories into clusters based on distance, time and speed. The distance, time and speed limits by the parameters by max_dist_between_adj_points, max_time_between_adj_points, max_speed_between_adj_points respectively. The column tid_part is added, it indicates the segment to which the point belongs to.

In [22]:
segmentation.by_dist_time_speed(df_move, max_dist_between_adj_points=5000, 
                                max_time_between_adj_points=800,max_speed_between_adj_points=60.0)
df_move.head()

Split trajectories
...max_time_between_adj_points: 800
...max_dist_between_adj_points: 5000
...max_speed: 60.0
...setting id as index
(33/33) 100% in 00:00:00.023 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (33, 11)

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:122: RuntimeWarning: invalid value encountered in greater
  (move_data.at[idx, DIST_TO_PREV] > max_dist_between_adj_points) | \
/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:123: RuntimeWarning: invalid value encountered in greater
  (move_data.at[idx, SPEED_TO_PREV] > max_speed_between_adj_points)

,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part
0,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1
1,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,56.915635,16.790650,24.997219,2.0,28.457818,1
2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,NaN,7.382597,205.504989,NaN,NaN,1
3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,468.617961,20.267200,230.047060,360.0,1.301717,1
4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,325.236474,18.217414,849.336396,271.0,1.200135,1

by_speed function segments the trajectories into clusters based on speed. The speed limit is defined by the parameter max_speed_between_adj_points. The column tid_speed is added, it indicates the segment to  which the point belongs to.

In [23]:
segmentation.by_speed(df_move, max_speed_between_adj_points=70.0)
df_move.head()

Split trajectories by max_speed_between_adj_points: 70.0
...setting id as index
(33/33) 100% in 00:00:00.001 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (33, 12)

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:230: RuntimeWarning: invalid value encountered in greater
  speed = (move_data.at[idx, SPEED_TO_PREV] > max_speed_between_adj_points)

,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part,tid_speed
0,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1,1
1,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,56.915635,16.790650,24.997219,2.0,28.457818,1,1
2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,NaN,7.382597,205.504989,NaN,NaN,1,1
3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,468.617961,20.267200,230.047060,360.0,1.301717,1,1
4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,325.236474,18.217414,849.336396,271.0,1.200135,1,1

by_time function segments the trajectories into clusters based on time. The time limit is defined by the parameter max_time_between_adj_points. The column tid_time is added, it indicates the segment to  which the point belongs to.

In [24]:
segmentation.by_time(df_move, max_time_between_adj_points = 1000)
df_move.head()

Split trajectories by max_time_between_adj_points: 1000
...setting id as index
(33/33) 100% in 00:00:00.000 - estimated end in 00:00:00.000
... Reseting index

...No trajs with only one point. (33, 13)

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:333: RuntimeWarning: invalid value encountered in greater
  times = (move_data.at[idx, TIME_TO_PREV] > max_time_between_adj_points)

,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part,tid_speed,tid_time
0,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1,1,1
1,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,56.915635,16.790650,24.997219,2.0,28.457818,1,1,1
2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,NaN,7.382597,205.504989,NaN,NaN,1,1,1
3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,468.617961,20.267200,230.047060,360.0,1.301717,1,1,1
4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,325.236474,18.217414,849.336396,271.0,1.200135,1,1,1

segment_traj_by_max_dist function segments the trajectories into clusters based on distance. The distance limit is defined by the parameter max_dist_between_adj_points. The column tid_dist is added, it indicates the segment to which the point belongs to.

In [25]:
segmentation.by_max_dist(df_move, max_dist_between_adj_points = 4000)
df_move.head()

/Users/andrezafernandes/Desktop/PyMove/pymove/preprocessing/segmentation.py:427: RuntimeWarning: invalid value encountered in greater
  dist = (move_data.at[idx, DIST_TO_PREV] > max_dist_between_adj_points)

Split trajectories by max distance between adjacent points: 4000
...setting id as index
(33/33) 100% in 00:00:00.001 - estimated end in 00:00:00.000
... Reseting index

Total Time: 0.00 seconds
------------------------------------------

,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part,tid_speed,tid_time,tid_dist
0,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1,1,1,1
1,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,56.915635,16.790650,24.997219,2.0,28.457818,1,1,1,1
2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,NaN,7.382597,205.504989,NaN,NaN,1,1,1,1
3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,468.617961,20.267200,230.047060,360.0,1.301717,1,1,1,1
4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,325.236474,18.217414,849.336396,271.0,1.200135,1,1,1,1

## Stay point detection

A stay point is location where a moving object has stayed for a while within a certain distance threshold. A stay point could stand different places such: a restaurant, a school, a work place.

Importing the module:

In [26]:
from pymove import stay_point_detection

stay_point_detection function converts the time data into a cyclical format. The columns hour_sin and hour_cos are added to the dataframe.

In [27]:
stay_point_detection.create_update_datetime_in_format_cyclical(df_move)

Encoding cyclical continuous features - 24-hour time
...hour_sin and  hour_cos features were created...

In [28]:
df_move.head()

,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part,tid_speed,tid_time,tid_dist,hour_sin,hour_cos
0,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1,1,1,1,-2.449294e-16,1.000000
1,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,56.915635,16.790650,24.997219,2.0,28.457818,1,1,1,1,-2.449294e-16,1.000000
2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,NaN,7.382597,205.504989,NaN,NaN,1,1,1,1,-1.361666e-01,-0.990686
3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,468.617961,20.267200,230.047060,360.0,1.301717,1,1,1,1,-1.361666e-01,-0.990686
4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,325.236474,18.217414,849.336396,271.0,1.200135,1,1,1,1,-1.361666e-01,-0.990686

create_or_update_move_stop_by_dist_time function creates or updates the stay points of the trajectories, based on distance and time metrics. The column segment_stop is added to the dataframe, it indicates the trajectory segment to  which the point belongs to. The column stop is also added, it indicates is the point represents a stop, a place where the object was stationary.

In [29]:
stay_point_detection.create_or_update_move_stop_by_dist_time(df_move, dist_radius=40, time_radius=1000)

Split trajectories by max distance between adjacent points: 40
...setting id as index
(33/33) 100% in 00:00:00.000 - estimated end in 00:00:00.000
... Reseting index

Total Time: 0.00 seconds
------------------------------------------


Creating or updating distance, time and speed features in meters by seconds

...Sorting by segment_stop and datetime to increase performance

...Set segment_stop as index to a higher peformance

(20/33) 60% in 00:00:00.008 - estimated end in 00:00:00.005
...Reset index...

..Total Time: 0.010
Create or update stop as True or False
...Creating stop features as True or False using 1000 to time in seconds
True     20
False    13
Name: stop, dtype: int64

Total Time: 0.07 seconds
-----------------------------------------------------

In [30]:
df_move.head()

,segment_stop,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part,tid_speed,tid_time,tid_dist,hour_sin,hour_cos,stop
0,1,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1,1,1,1,-2.449294e-16,1.000000,False
1,2,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,NaN,16.790650,24.997219,NaN,NaN,1,1,1,1,-2.449294e-16,1.000000,True
2,2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,4945.022066,7.382597,205.504989,736805.0,0.006711,1,1,1,1,-1.361666e-01,-0.990686,True
3,3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,NaN,20.267200,230.047060,NaN,NaN,1,1,1,1,-1.361666e-01,-0.990686,False
4,4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,NaN,18.217414,849.336396,NaN,NaN,1,1,1,1,-1.361666e-01,-0.990686,True

create_update_move_and_stop_by_radius function creates or updates the stay points of the trajectories, based on distance. The column situation is also added, it indicates if the point represents a stop point or a moving point.

In [31]:
stay_point_detection.create_update_move_and_stop_by_radius(df_move, radius=2)

Creating or updating features MOVE and STOPS...


....There are 0 stops to this parameters

In [32]:
df_move.head()

,segment_stop,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,speed_to_prev,tid_part,tid_speed,tid_time,tid_dist,hour_sin,hour_cos,stop,situation
0,1,1,12008102623,40.013492,116.306678,2008-10-26 23:47:01,NaN,16.795833,57.374459,NaN,NaN,1,1,1,1,-2.449294e-16,1.000000,False,nan
1,2,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,NaN,16.790650,24.997219,NaN,NaN,1,1,1,1,-2.449294e-16,1.000000,True,nan
2,2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,4945.022066,7.382597,205.504989,736805.0,0.006711,1,1,1,1,-1.361666e-01,-0.990686,True,move
3,3,1,12008110412,39.977546,116.328987,2008-11-04 12:33:08,NaN,20.267200,230.047060,NaN,NaN,1,1,1,1,-1.361666e-01,-0.990686,False,nan
4,4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,NaN,18.217414,849.336396,NaN,NaN,1,1,1,1,-1.361666e-01,-0.990686,True,nan

## Compression

Importing the module:

In [33]:
from pymove import compression

The function below is used to reduce the size of the trajectory, the stop points are used to make the compression.

In [34]:
compression.compress_segment_stop_to_point(df_move)

...setting mean to lat and lon...
...move segments will be dropped...
...get only segments stop...

HBox(children=(IntProgress(value=0, max=10), HTML(value='')))

(2/20) 10% in 00:00:00.199 - estimated end in 00:00:01.795
(4/20) 20% in 00:00:00.213 - estimated end in 00:00:00.855
(6/20) 30% in 00:00:00.231 - estimated end in 00:00:00.541
(8/20) 40% in 00:00:00.245 - estimated end in 00:00:00.368
(10/20) 50% in 00:00:00.256 - estimated end in 00:00:00.256
(12/20) 60% in 00:00:00.268 - estimated end in 00:00:00.178
(14/20) 70% in 00:00:00.284 - estimated end in 00:00:00.121
(16/20) 80% in 00:00:00.296 - estimated end in 00:00:00.074
(18/20) 90% in 00:00:00.307 - estimated end in 00:00:00.034
(20/20) 100% in 00:00:00.325 - estimated end in 00:00:00.000

...Dropping 13 points...
...Shape_before: 33
...Current shape: 20
...Compression time: 0.342 seconds
-----------------------------------------------------

In [35]:
df_move

,segment_stop,id,tid,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next,time_to_prev,...,tid_part,tid_speed,tid_time,tid_dist,hour_sin,hour_cos,stop,situation,lat_mean,lon_mean
1,2,1,12008102623,40.013992,116.306535,2008-10-26 23:47:03,NaN,16.790650,24.997219,NaN,...,1,1,1,1,-2.449294e-16,1.000000,True,nan,40.013992,116.306535
2,2,1,12008110412,39.973507,116.330557,2008-11-04 12:27:08,4945.022066,7.382597,205.504989,736805.0,...,1,1,1,1,-1.361666e-01,-0.990686,True,move,40.013992,116.306535
4,4,1,12008110412,39.975990,116.325755,2008-11-04 12:37:39,NaN,18.217414,849.336396,NaN,...,1,1,1,1,-1.361666e-01,-0.990686,True,nan,39.978689,116.330858
5,4,1,12008110716,39.978689,116.330858,2008-11-07 16:16:56,528.333886,17.697470,307.586990,272357.0,...,1,1,1,1,-9.422609e-01,-0.334880,True,move,39.978689,116.330858
6,5,1,12008110716,39.992888,116.329466,2008-11-07 16:22:55,NaN,12.184919,124.452825,NaN,...,1,1,1,1,-9.422609e-01,-0.334880,True,nan,39.992888,116.329466
7,5,1,12008120601,39.907771,116.409837,2008-12-06 01:37:28,11683.938332,27.609003,68.622511,2452473.0,...,1,1,1,1,2.697968e-01,0.962917,True,move,39.992888,116.329466
8,6,1,12008120601,39.913682,116.408584,2008-12-06 01:40:56,NaN,52.443458,92.185199,NaN,...,1,1,1,1,2.697968e-01,0.962917,True,nan,39.978157,116.326747
9,6,1,12008120703,39.978157,116.326747,2008-12-07 03:01:39,10003.454436,34.901092,84.779230,91243.0,...,1,1,1,1,7.308360e-01,0.682553,True,move,39.978157,116.326747
12,9,5,52008112104,40.010695,116.322808,2008-11-21 04:38:44,NaN,9.996359,252.024213,NaN,...,2,2,2,2,8.878852e-01,0.460065,True,nan,40.010695,116.322808
13,9,5,52008112608,40.001656,116.329943,2008-11-26 08:24:40,1174.527381,133.781130,281.429126,445556.0,...,2,2,2,2,8.169699e-01,-0.576680,True,move,40.010695,116.322808
14,10,5,52008112608,40.000535,116.327103,2008-11-26 08:25:00,NaN,27.292639,226.902202,NaN,...,2,2,2,2,8.169699e-01,-0.576680,True,nan,40.000535,116.327103
15,10,5,52009011410,39.998759,116.326371,2009-01-14 10:46:27,207.091817,172.987008,217.745345,4242087.0,...,2,2,2,2,3.984011e-01,-0.917211,True,move,40.000535,116.327103
16,11,5,52009011410,40.000063,116.326515,2009-01-14 10:56:10,NaN,30.320585,79.607952,NaN,...,2,2,2,2,3.984011e-01,-0.917211,True,nan,40.001231,116.324828
17,11,5,52009011411,40.001231,116.324828,2009-01-14 11:55:31,193.692355,122.286204,348.021637,3561.0,...,2,2,2,2,1.361666e-01,-0.990686,True,move,40.001231,116.324828
18,12,5,52009011411,40.001581,116.326189,2009-01-14 11:55:34,NaN,33.967959,154.110010,NaN,...,2,2,2,2,1.361666e-01,-0.990686,True,nan,40.001581,116.326189
19,12,5,52009011416,39.998323,116.326405,2009-01-14 16:21:15,362.739989,205.784815,288.615145,15941.0,...,2,2,2,2,-9.422609e-01,-0.334880,True,move,40.001581,116.326189
22,15,5,52009011416,39.999563,116.326713,2009-01-14 16:33:39,NaN,10.612758,59.550113,NaN,...,2,2,2,2,-9.422609e-01,-0.334880,True,nan,40.001013,116.325778
23,15,5,52009011418,40.001013,116.325778,2009-01-14 18:31:08,179.830490,31.061354,77.984347,7049.0,...,2,2,2,2,-9.790841e-01,0.203456,True,move,40.001013,116.325778
25,17,5,52009011418,40.002075,116.327477,2009-01-14 18:55:51,NaN,6.023002,43.643973,NaN,...,3,2,2,2,-9.790841e-01,0.203456,True,nan,40.002075,116.327477
26,17,5,52009011614,39.975863,116.335699,2009-01-16 14:43:14,2997.630072,13.729900,53.465557,157643.0,...,3,2,2,2,-6.310879e-01,-0.775711,True,move,40.002075,116.327477

## Map matching

Import module:

In [36]:
from pymove import map_matching

In [37]:
map_matching.check_time_dist(df_move)

creating index...
checking ascending distance and time...
tid: 12008102623 - size: 0

KeyError: 'isNode'