# #05 - Exploring Utils


Falar sobre para se trabalhar com trajetórias pode ser necessária algumas c onversões envolvendo tempo e data, distância e etc, fora outros utilitários.

Falar dos módulos presentes no pacote utils
- constants
- conversions
- datetime
- distances
- math
- mem
- trajectories
- transformations


---

### Imports

In [1]:
import pymove.utils as utils
import pymove
from pymove import MoveDataFrame

---
### Load data

In [2]:
move_data = pymove.read_csv("geolife_sample.csv")

---
### Conversions

To transform latitude degree to meters, you can use function **lat_meters**. For example, you can convert Fortaleza's latitude -3.8162973555:

In [3]:
utils.conversions.lat_meters(-3.8162973555)

110826.6722516857

To concatenates list elements, joining them by the separator specified by the parameter "delimiter", you can use **list_to_str**

In [4]:
utils.conversions.list_to_str(["a", "b", "c", "d"], "-")

'a-b-c-d'

To concatenates the elements of the list, joining them by ",", , you can use **list_to_csv_str**

In [5]:
utils.conversions.list_to_csv_str(["a", "b", "c", "d"])

'a,b,c,d'

To concatenates list elements in consecutive element pairs, you can use **list_to_svm_line**

In [6]:
utils.conversions.list_to_svm_line(["a", "b", "c", "d"])

'a 1:b 2:c 3:d'

To convert longitude to X EPSG:3857 WGS 84/Pseudo-Mercator, you can use **lon_to_x_spherical**

In [7]:
utils.conversions.lon_to_x_spherical(-38.501597)

-4285978.172767829

To convert latitude to Y EPSG:3857 WGS 84/Pseudo-Mercator, you can use **lat_to_y_spherical**

In [8]:
utils.conversions.lat_to_y_spherical(-3.797864)

-423086.2213610324

To convert X EPSG:3857 WGS 84/Pseudo-Mercator to longitude, you can use **x_to_lon_spherical**

In [9]:
utils.conversions.x_to_lon_spherical(-4285978.172767829)

-38.501597000000004

To convert Y EPSG:3857 WGS 84/Pseudo-Mercator to latitude, you can use **y_to_lat_spherical**

In [10]:
utils.conversions.y_to_lat_spherical(-423086.2213610324)

-3.7978639999999944

To convert values, in ms, in label_speed column to kmh, you can use **ms_to_kmh**

In [11]:
utils.conversions.ms_to_kmh(move_data)

...Sorting by id and datetime to increase performance

...Set id as index to a higher performance


Creating or updating distance, time and speed features in meters by seconds

VBox(children=(HTML(value=''), IntProgress(value=0, max=2)))

...Reset index...

In [12]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,49.284551
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,5.330727
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,1.311180
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,2.080563

To convert values, in kmh, in label_speed column to ms, you can use **kmh_to_ms**

In [13]:
utils.conversions.kmh_to_ms(move_data)

In [14]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934

To convert values, in meters, in label_distance column to kilometer, you can use **meters_to_kilometers**

In [15]:
utils.conversions.meters_to_kilometers(move_data)

In [16]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,0.013690,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,0.007404,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,0.001821,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,0.002890,5.0,0.577934

To convert values, in kilometers, in label_distance column to meters, you can use **kilometers_to_meters**

In [17]:
utils.conversions.kilometers_to_meters(move_data)

In [18]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934

To convert values, in seconds, in label_distance column to minutes, you can use **seconds_to_minutes**

In [19]:
utils.conversions.seconds_to_minutes(move_data)

In [20]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,0.016667,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,0.083333,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,0.083333,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,0.083333,0.577934

To convert values, in minutes, in label_distance column to seconds, you can use **minute_to_seconds**

In [21]:
utils.conversions.minute_to_seconds(move_data)

In [22]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934

To convert in minutes, in label_distance column to hours, you can use **minute_to_hours**

In [23]:
utils.conversions.seconds_to_minutes(move_data)

In [24]:
utils.conversions.minute_to_hours(move_data)

In [25]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,0.000278,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,0.001389,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,0.001389,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,0.001389,0.577934

To convert in hours, in label_distance column to minute, you can use **hours_to_minute**

In [26]:
utils.conversions.hours_to_minute(move_data)

In [27]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,0.016667,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,0.083333,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,0.083333,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,0.083333,0.577934

To convert in seconds, in label_distance column to hours, you can use **seconds_to_hours**

In [28]:
utils.conversions.minute_to_seconds(move_data)

In [29]:
utils.conversions.seconds_to_hours(move_data)

In [30]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,0.000278,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,0.001389,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,0.001389,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,0.001389,0.577934

To convert in seconds, in label_distance column to hours, you can use **hours_to_seconds**

In [31]:
utils.conversions.hours_to_seconds(move_data)

In [32]:
move_data.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934

## Datetime

To converts a datetime in string"s format "%Y-%m-%d" or "%Y-%m-%d %H:%M:%S" to datetime"s format, you can use **str_to_datetime**.

In [33]:
utils.datetime.str_to_datetime('2018-06-29 08:15:27')

datetime.datetime(2018, 6, 29, 8, 15, 27)

To get date, in string's format, from timestamp, you can use **date_to_str**.

In [34]:
utils.datetime.date_to_str(utils.datetime.str_to_datetime('2018-06-29 08:15:27'))

'2018-06-29'

To converts a date in datetime's format to string's format, you can use **to_str**.

In [35]:
import datetime
utils.datetime.to_str(datetime.datetime(2018, 6, 29, 8, 15, 27))

'2018-06-29 08:15:27'

To converts a datetime to an int representation in minutes, you can use **to_min**.

In [36]:
utils.datetime.to_min(datetime.datetime(2018, 6, 29, 8, 15, 27))

25504335

To do the reverse use: **min_to_datetime**

In [37]:
utils.datetime.min_to_datetime(25504335)

datetime.datetime(2018, 6, 29, 8, 15)

To get day of week of a date, you can use **to_day_of_week_int**, where 0 represents Monday and 6 is Sunday.

In [38]:
utils.datetime.to_day_of_week_int(datetime.datetime(2018, 6, 29, 8, 15, 27))

4

To indices if a day specified by the user is a working day, you can use **working_day**.

In [39]:
utils.datetime.working_day(datetime.datetime(2018, 6, 29, 8, 15, 27), country='BR')

True

In [40]:
utils.datetime.working_day(datetime.datetime(2018, 4, 21, 8, 15, 27), country='BR')

False

To get datetime of now, you can use **now_str**.

In [41]:
utils.datetime.now_str()

'2021-02-01 21:56:26'

To convert time in a format appropriate of time, you can use **deltatime_str**.

In [42]:
utils.datetime.deltatime_str(1082.7180936336517)

'18m:02.72s'

To converts a local datetime to a POSIX timestamp in milliseconds, you can use **timestamp_to_millis**.

In [43]:
utils.datetime.timestamp_to_millis("2015-12-12 08:00:00.123000")

1449907200123

To converts milliseconds to timestamp, you can use **millis_to_timestamp**.

In [44]:
utils.datetime.millis_to_timestamp(1449907200123)

Timestamp('2015-12-12 08:00:00.123000')

To get time, in string's format, from timestamp, you can use **time_to_str**.

In [45]:
utils.datetime.time_to_str(datetime.datetime(2018, 6, 29, 8, 15, 27))

'08:15:27'

To converts a time in string's format "%H:%M:%S" to datetime's format, you can use **str_to_time**.

In [46]:
utils.datetime.str_to_time("08:00:00")

datetime.datetime(1900, 1, 1, 8, 0)

To computes the elapsed time from a specific start time to the moment the function is called, you can use **elapsed_time_dt**.

In [47]:
utils.datetime.elapsed_time_dt(utils.datetime.str_to_time("08:00:00"))

3821176587586

To computes the elapsed time from the start time to the end time specifed by the user, you can use **diff_time**.

In [48]:
utils.datetime.diff_time(utils.datetime.str_to_time("08:00:00"), utils.datetime.str_to_time("12:00:00"))

14400000

## Distances

To calculate the great circle distance between two points on the earth, you can use **haversine**.

In [49]:
utils.distances.haversine(-3.797864,-38.501597,-3.797890, -38.501681)

9.757976024363016

---
<!-- Ver com a arina se é válido fazer a doc dessas 2 -->
<!-- ## Trajectories --> 
<!-- ## Transformations -->

## Math

To compute standard deviation, you can use **std**.

In [50]:
utils.math.std([600, 20, 5])

277.0178494048513

To compute the average of standard deviation, you can use **avg_std**.

In [51]:
utils.math.avg_std([600, 20, 5])

(208.33333333333334, 277.0178494048513)

To compute the standard deviation of sample, you can use **std_sample**.

In [52]:
utils.math.std_sample([600, 20, 5])

339.27619034251916

To compute the average of standard deviation of sample, you can use **avg_std_sample**.

In [53]:
utils.math.avg_std_sample([600, 20, 5])

(208.33333333333334, 339.27619034251916)

To computes the sum of the elements of the array, you can use **array_sum**.

To computes the sum of all the elements in the array, the sum of the square of each element and the number of elements of the array, you can use **array_stats**.

In [54]:
utils.math.array_stats([600, 20, 5])

(625, 360425, 3)

To perfomers interpolation and extrapolation, you can use **interpolation**.

In [55]:
utils.math.interpolation(15, 20, 65, 86, 5)

6.799999999999999