# Test traj_utils

In [95]:
from pymove.utils import traj_utils

In [96]:
lista_antiga = [1, 3 , "a",4, 2]
lista_nova = [1, 1, 3]

In [50]:
traj_utils.fill_list_with_new_values(lista_antiga, lista_nova)

In [51]:
resultado = traj_utils.shift(lista_antiga, -2, fill_value=54)

In [52]:
resultado

array([ 3,  4,  2, 54, 54])

In [53]:
bbox = (22.147577, 113.54884299999999, 41.132062, 121.156224)

In [54]:
traj_utils.save_bbox(bbox, "test_bbox.txt")

# Test math_utils

In [55]:
from pymove.utils import math_utils

In [56]:
import pandas as pd

In [57]:
math_utils.std(400, 4, 2)

9.797958971132712

In [58]:
math_utils.array_sum([2, 3, 4, 5])

14

In [59]:
#math_utils.arrays_avg([2, 3, 4, 5])

In [60]:
math_utils.array_stats([2, 3, 4, 5])

(14, 54, 4)

In [61]:
math_utils.interpolation(2, 3.4, 3.4, 6, 7.9)

14.357142857142858

# Test date_utils

In [62]:
from pymove.utils import date_utils
import pandas as pd

In [63]:
df = pd.read_csv('geolife_sample.csv', parse_dates=['datetime'])
df.head()

         lat         lon            datetime  id
0  39.984094  116.319236 2008-10-23 05:53:05   1
1  39.984198  116.319322 2008-10-23 05:53:06   1
2  39.984224  116.319402 2008-10-23 05:53:11   1
3  39.984211  116.319389 2008-10-23 05:53:16   1
4  39.984217  116.319422 2008-10-23 05:53:21   1

In [64]:
data = date_utils.date_to_str(df["datetime"][0])

In [65]:
date_utils.str_to_datetime(data)

datetime.datetime(2008, 10, 23, 0, 0)

In [66]:
date_utils.datetime_to_str(df["datetime"][0])

'2008-10-23 05:53:05'

In [67]:
date_utils.min_to_datetime(2)

datetime.datetime(1970, 1, 1, 0, 2)

In [68]:
import datetime
date_utils.date_to_day_of_week_int(datetime.datetime(2014, 1, 1, 20, 56))

2

In [69]:
date_utils.working_day(df["datetime"][0], [df["datetime"][1], df["datetime"][2]])

True

In [70]:
date_utils.now_str()

'2019-09-20 21:37:15'

# Test time_utils

In [71]:
from pymove.utils import time_utils

In [72]:
time_utils.deltatime_str(1082.7180936336517)

'00:18:02.718'

In [73]:
time_utils.timestamp_to_millis('2015-12-12 08:00:00.123000')

1449907200123

In [74]:
date = time_utils.millis_to_timestamp(1449907200123)

In [75]:
time_utils.time_to_str(date)

'08:00:00'

In [76]:
tempo = time_utils.str_to_time('08:00:00')

In [77]:
time_utils.elapsed_time_dt(df["datetime"][0])

344274250450

In [78]:
time_utils.diff_time(tempo, tempo)

0

## Test conversion

In [79]:
from pymove.utils import conversions

In [80]:
conversions.list_to_str(["arina", 3, 4])

'arina,3,4'

In [81]:
conversions.list_to_csv_str(["arina", 3, 4])

'arina,3,4'

In [82]:
conversions.list_to_svm_line(["arina", 3, 4])

'arina 1:3 2:4'

In [83]:
conversions.lon2XSpherical(df["lon"][0])

12948598.120982615

In [84]:
from pymove.utils import transformations

In [85]:
transformations.create_update_dist_time_speed_features(df)

Creating or updating distance, time and speed features in meters by seconds

...Sorting by id and datetime to increase performance

...Set id as index to a higher peformance

(217653/217653) 100% in 00:00:00.168 - estimated end in 00:00:00.000
...Reset index...

..Total Time: 0.168

In [86]:
conversions.transform_speed_from_kmh_to_ms(df)

In [87]:
df.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,3.802820
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,0.411322
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.101171
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.160537

In [88]:
conversions.transform_speed_from_ms_to_kmh(df)

In [89]:
df.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934

In [90]:
conversions.transform_dist_from_meters_to_kilometers(df)

In [91]:
df.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,0.013690,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,0.007404,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,0.001821,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,0.002890,5.0,0.577934

In [92]:
conversions.transform_dist_from_to_kilometers_to_meters(df)
conversions.transform_time_from_hours_to_minute(df)
conversions.transform_time_from_hours_to_seconds(df)
conversions.transform_time_from_minute_to_hours(df)
conversions.transform_time_from_minute_to_seconds(df)
conversions.transform_time_from_seconds_to_hours(df)
conversions.transform_time_from_seconds_to_minutes(df)

In [93]:
df.head()

,id,lat,lon,datetime,dist_to_prev,time_to_prev,speed_to_prev
0,1,39.984094,116.319236,2008-10-23 05:53:05,NaN,NaN,NaN
1,1,39.984198,116.319322,2008-10-23 05:53:06,13.690153,1.0,13.690153
2,1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,5.0,1.480758
3,1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,5.0,0.364217
4,1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,5.0,0.577934