# Testando Integrations

## Importações

In [6]:
import pymove
import integration as it
from pymove.visualization import visualization
from pymove import MoveDataFrame
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named '_winmock'

## Para pegar Pontos de Interesse reais

In [ ]:
conda config --prepend channels conda-forge

In [3]:
conda install -c conda-forge osmnx

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\mauri\.conda\envs\geo1

  added / updated specs:
    - osmnx


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.4.1               |             py_0          26 KB  conda-forge
    brotlipy-0.7.0             |py36h779f372_1000         368 KB  conda-forge
    ca-certificates-2020.4.5.1 |       hecc5488_0         184 KB  conda-forge
    certifi-2020.4.5.1         |   py36h9f0ad1d_0         151 KB  conda-forge
    cffi-1.14.0                |   py36ha419a9e_0         221 KB  conda-forge
    chardet-3.0.4              |py36h9f0ad1d_1006         220 KB  conda-forge
    cryptography-2.9.2         |   py36hef61171_0         580 KB  conda-forge
    cycler-0.10.0              |             py_2           9 KB  conda-forge
    descartes-1.1.0            |             py_4           7 KB  conda-forge
    folium-0.11.0              |             py_0          61 KB  conda-forge
    freetype-2.10.1            |       ha9979f8_0         481 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    idna-2.9                   |             py_1          52 KB  conda-forge
    joblib-0.14.1              |             py_0         198 KB  conda-forge
    kiwisolver-1.2.0           |   py36h246c5b5_0          61 KB  conda-forge
    libblas-3.8.0              |           15_mkl         3.5 MB  conda-forge
    libcblas-3.8.0             |           15_mkl         3.5 MB  conda-forge
    matplotlib-base-3.2.1      |   py36hf0cddfc_0         7.1 MB  conda-forge
    networkx-2.4               |             py_1         1.2 MB  conda-forge
    openssl-1.1.1g             |       he774522_0         5.7 MB  conda-forge
    osmnx-0.12.1               |     pyh9f0ad1d_0          63 KB  conda-forge
    pycparser-2.20             |             py_0          89 KB  conda-forge
    pyopenssl-19.1.0           |             py_1          47 KB  conda-forge
    pyparsing-2.4.7            |     pyh9f0ad1d_0          60 KB  conda-forge
    pysocks-1.7.1              |   py36h9f0ad1d_1          27 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    requests-2.23.0            |     pyh8c360ce_2          47 KB  conda-forge
    scikit-learn-0.22.2.post1  |   py36h7208079_0         6.1 MB  conda-forge
    scipy-1.4.1                |   py36h9439919_0        11.9 MB
    urllib3-1.25.9             |             py_0          92 KB  conda-forge
    win_inet_pton-1.1.0        |           py36_0           7 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        42.1 MB

The following NEW packages will be INSTALLED:

  branca             conda-forge/noarch::branca-0.4.1-py_0
  brotlipy           conda-forge/win-64::brotlipy-0.7.0-py36h779f372_1000
  cffi               conda-forge/win-64::cffi-1.14.0-py36ha419a9e_0
  chardet            conda-forge/win-64::chardet-3.0.4-py36h9f0ad1d_1006
  cryptography       conda-forge/win-64::cryptography-2.9.2-py36hef61171_0
  cycler             conda-forge/noarch::cycler-0.10.0-py_2
  descartes          conda-forge/noarch::descartes-1.1.0-py_4
  folium             conda-forge/noarch::folium-0.11.0-py_0
  freetype           conda-forge/win-64::freetype-2.10.1-ha9979f8_0
  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-1.21.0-py_0
  idna               conda-forge/noarch::idna-2.9-py_1
  joblib             conda-forge/noarch::joblib-0.14.1-py_0
  kiwisolver         conda-forge/win-64::kiwisolver-1.2.0-py36h246c5b5_0
  libblas            conda-forge/win-64::libblas-3.8.0-15_mkl
  libcblas           conda-forge/win-64::libcblas-3.8.0-15_mkl
  matplotlib-base    conda-forge/win-64::matplotlib-base-3.2.1-py36hf0cddfc_0
  networkx           conda-forge/noarch::networkx-2.4-py_1
  osmnx              conda-forge/noarch::osmnx-0.12.1-pyh9f0ad1d_0
  pycparser          conda-forge/noarch::pycparser-2.20-py_0
  pyopenssl          conda-forge/noarch::pyopenssl-19.1.0-py_1
  pyparsing          conda-forge/noarch::pyparsing-2.4.7-pyh9f0ad1d_0
  pysocks            conda-forge/win-64::pysocks-1.7.1-py36h9f0ad1d_1
  python_abi         conda-forge/win-64::python_abi-3.6-1_cp36m
  requests           conda-forge/noarch::requests-2.23.0-pyh8c360ce_2
  scikit-learn       conda-forge/win-64::scikit-learn-0.22.2.post1-py36h7208079_0
  scipy              pkgs/main/win-64::scipy-1.4.1-py36h9439919_0
  urllib3            conda-forge/noarch::urllib3-1.25.9-py_0
  win_inet_pton      conda-forge/win-64::win_inet_pton-1.1.0-py36_0

The following packages will be UPDATED:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2020.4.5.1-hecc5488_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi              pkgs/main::certifi-2020.4.5.1-py36_0 --> conda-forge::certifi-2020.4.5.1-py36h9f0ad1d_0
  openssl                                         pkgs/main --> conda-forge



Downloading and Extracting Packages

openssl-1.1.1g       | 5.7 MB    |            |   0%
openssl-1.1.1g       | 5.7 MB    |            |   0%
openssl-1.1.1g       | 5.7 MB    | #9         |  20%
openssl-1.1.1g       | 5.7 MB    | #####      |  50%
openssl-1.1.1g       | 5.7 MB    | ########   |  80%
openssl-1.1.1g       | 5.7 MB    | ########## | 100%

joblib-0.14.1        | 198 KB    |            |   0%
joblib-0.14.1        | 198 KB    | 8          |   8%
joblib-0.14.1        | 198 KB    | ########## | 100%

idna-2.9             | 52 KB     |            |   0%
idna-2.9             | 52 KB     | ########## | 100%

pyparsing-2.4.7      | 60 KB     |            |   0%
pyparsing-2.4.7      | 60 KB     | ########## | 100%

pyopenssl-19.1.0     | 47 KB     |            |   0%
pyopenssl-19.1.0     | 47 KB     | ########## | 100%

folium-0.11.0        | 61 KB     |            |   0%
folium-0.11.0        | 61 KB     | ##6        |  26%
folium-0.11.0        | 61 KB     | ########## | 100%

requests-2.23.0      | 47 KB     |            |   0%
requests-2.23.0      | 47 KB     | ########## | 100%

ca-certificates-2020 | 184 KB    |            |   0%
ca-certificates-2020 | 184 KB    | ########## | 100%

scipy-1.4.1          | 11.9 MB   |            |   0%
scipy-1.4.1          | 11.9 MB   |            |   0%
scipy-1.4.1          | 11.9 MB   | #1         |  11%
scipy-1.4.1          | 11.9 MB   | ##7        |  27%
scipy-1.4.1          | 11.9 MB   | ####1      |  42%
scipy-1.4.1          | 11.9 MB   | #####3     |  53%
scipy-1.4.1          | 11.9 MB   | ######5    |  66%
scipy-1.4.1          | 11.9 MB   | #######8   |  78%
scipy-1.4.1          | 11.9 MB   | #########  |  90%
scipy-1.4.1          | 11.9 MB   | ########## | 100%

cycler-0.10.0        | 9 KB      |            |   0%
cycler-0.10.0        | 9 KB      | ########## | 100%

brotlipy-0.7.0       | 368 KB    |            |   0%
brotlipy-0.7.0       | 368 KB    | 4          |   4%
brotlipy-0.7.0       | 368 KB    | ########2  |  83%
brotlipy-0.7.0       | 368 KB    | ########## | 100%

python_abi-3.6       | 4 KB      |            |   0%
python_abi-3.6       | 4 KB      | ########## | 100%

urllib3-1.25.9       | 92 KB     |            |   0%
urllib3-1.25.9       | 92 KB     | ########## | 100%

win_inet_pton-1.1.0  | 7 KB      |            |   0%
win_inet_pton-1.1.0  | 7 KB      | ########## | 100%

libblas-3.8.0        | 3.5 MB    |            |   0%
libblas-3.8.0        | 3.5 MB    | ##6        |  26%
libblas-3.8.0        | 3.5 MB    | #######3   |  74%
libblas-3.8.0        | 3.5 MB    | ########## | 100%

networkx-2.4         | 1.2 MB    |            |   0%
networkx-2.4         | 1.2 MB    | #######5   |  75%
networkx-2.4         | 1.2 MB    | ########## | 100%

kiwisolver-1.2.0     | 61 KB     |            |   0%
kiwisolver-1.2.0     | 61 KB     | ##6        |  26%
kiwisolver-1.2.0     | 61 KB     | ########## | 100%

libcblas-3.8.0       | 3.5 MB    |            |   0%
libcblas-3.8.0       | 3.5 MB    | ##5        |  26%
libcblas-3.8.0       | 3.5 MB    | #######5   |  76%
libcblas-3.8.0       | 3.5 MB    | ########## | 100%

cryptography-2.9.2   | 580 KB    |            |   0%
cryptography-2.9.2   | 580 KB    | 2          |   3%
cryptography-2.9.2   | 580 KB    | ########## | 100%

cffi-1.14.0          | 221 KB    |            |   0%
cffi-1.14.0          | 221 KB    | 7          |   7%
cffi-1.14.0          | 221 KB    | ########## | 100%

osmnx-0.12.1         | 63 KB     |            |   0%
osmnx-0.12.1         | 63 KB     | ########## | 100%

pycparser-2.20       | 89 KB     |            |   0%
pycparser-2.20       | 89 KB     | ########## | 100%

descartes-1.1.0      | 7 KB      |            |   0%
descartes-1.1.0      | 7 KB      | ########## | 100%

geographiclib-1.50   | 34 KB     |            |   0%
geographiclib-1.50   | 34 KB     | ####7      |  47%
geographiclib-1.50   | 34 KB     | ########## | 100%

Note: you may need to restart the kernel to use updated packages.
geopy-1.21.0         | 58 KB     |            |   0%
geopy-1.21.0         | 58 KB     | ##7        |  27%
geopy-1.21.0         | 58 KB     | ########## | 100%

freetype-2.10.1      | 481 KB    |            |   0%
freetype-2.10.1      | 481 KB    | ########## | 100%

chardet-3.0.4        | 220 KB    |            |   0%
chardet-3.0.4        | 220 KB    | 7          |   7%
chardet-3.0.4        | 220 KB    | ########## | 100%

certifi-2020.4.5.1   | 151 KB    |            |   0%
certifi-2020.4.5.1   | 151 KB    | ########## | 100%

matplotlib-base-3.2. | 7.1 MB    |            |   0%
matplotlib-base-3.2. | 7.1 MB    | #1         |  12%
matplotlib-base-3.2. | 7.1 MB    | ###4       |  35%
matplotlib-base-3.2. | 7.1 MB    | #####9     |  59%
matplotlib-base-3.2. | 7.1 MB    | ########3  |  84%
matplotlib-base-3.2. | 7.1 MB    | ########## | 100%

pysocks-1.7.1        | 27 KB     |            |   0%
pysocks-1.7.1        | 27 KB     | ######     |  60%
pysocks-1.7.1        | 27 KB     | ########## | 100%

branca-0.4.1         | 26 KB     |            |   0%
branca-0.4.1         | 26 KB     | ######1    |  62%
branca-0.4.1         | 26 KB     | ########## | 100%

scikit-learn-0.22.2. | 6.1 MB    |            |   0%
scikit-learn-0.22.2. | 6.1 MB    |            |   0%

scikit-learn-0.22.2. | 6.1 MB    | #          |  10%
scikit-learn-0.22.2. | 6.1 MB    | ###2       |  33%
scikit-learn-0.22.2. | 6.1 MB    | #####3     |  54%
scikit-learn-0.22.2. | 6.1 MB    | #######7   |  77%
scikit-learn-0.22.2. | 6.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

## Obtendo o Data Set

O dataset utilizado se refere a crimes ocorridos em Boston. Os registros começam em 14 de junho de 2015 e continuam até 3 de setembro de 2018. Os dados são fornecidos pela Analyze Boston.

In [14]:
#Obtendo dataset
pdf = pd.read_csv('crime.csv', encoding = "ISO-8859-1")
pdf.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

#### Convertendo para MoveDataFrame

In [15]:
move_df = MoveDataFrame(data=pdf, latitude='Lat', longitude='Long', datetime='OCCURRED_ON_DATE', traj_id='INCIDENT_NUMBER')
move_df.head(7)

,id,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,datetime,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,lat,lon,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357792,-71.139374,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306820,-71.060303,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346588,-71.072426,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334183,-71.078667,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275364,-71.090363,"(42.27536542, -71.09036101)"
5,I182070936,3820,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,C11,398,NaN,2018-09-03 21:09:00,2018,9,Monday,21,Part Three,TALBOT AVE,42.290195,-71.071587,"(42.29019621, -71.07159012)"
6,I182070933,724,Auto Theft,AUTO THEFT,B2,330,NaN,2018-09-03 21:25:00,2018,9,Monday,21,Part One,NORMANDY ST,42.306072,-71.082733,"(42.30607218, -71.08273260)"

#### Tamanho

In [16]:
#Tamanho
move_df.shape[0]

319073

#### Remove Rows com latitude e longitude vazia

In [17]:
move_df = move_df.dropna(subset = ["lat"], inplace=False)
move_df = move_df.dropna(subset = ["lon"], inplace=False)

#Novo Tamanho
move_df.shape[0]

299074

#### Visualização

In [ ]:
visualization.plot_markers(move_df, n_rows=500)

## Obtendo Data Set dos Pontos de Interesse da Cidade

In [19]:
import osmnx as ox

place = 'Boston, Massachusetts, United States of America'
POIs = ox.pois_from_place(place)

In [20]:
POIs.head()

,osmid,geometry,attribution,source,element_type,highway,traffic_signals,traffic_signals:direction,created_by,direction,...,name:sw,name:ta,name:te,name:th,name:tt,name:ug,name:ur,name:vi,name:yi,name:yo
61341374,61341374,POINT (-71.07481 42.35481),NaN,NaN,node,traffic_signals,signal,forward,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61342618,61342618,POINT (-71.08733 42.34203),Office of Geographic and Environmental Informa...,massgis_import_v0.1_20071008193615,node,traffic_signals,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61343373,61343373,POINT (-71.10752 42.34141),Office of Geographic and Environmental Informa...,massgis_import_v0.1_20071008193615,node,traffic_signals,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61343390,61343390,POINT (-71.08646 42.34143),Office of Geographic and Environmental Informa...,massgis_import_v0.1_20071008193615,node,traffic_signals,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61343394,61343394,POINT (-71.08566 42.34090),Office of Geographic and Environmental Informa...,massgis_import_v0.1_20071008193615,node,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Quantidade de Pontos de Interesse em Boston

In [72]:
POIs.shape[0]

4015

#### Adaptando ao formato necessário para integração (Com labels 'lat' e 'lon' referentes a latitude e longitude, respectivamente)

In [26]:
points = POIs['geometry']
latitude = []
longitude = []
count = 0
for point in points:
    if point.type == 'Point': 
      count = count + 1
      latitude.append(point.x)
      longitude.append(point.y)
print("Número de Pontos: ", count)

Número de Pontos:  4015

In [54]:
POIs = POIs[0:count].copy()
POIs['lat'] = latitude
POIs['lon'] = longitude
POIs

POIs.shape[0]

4015

## Integrando Pontos de Interesse ao DataSet (Usando join_with_POIs)

In [73]:
it.join_with_POIs(move_df, POIs, label_id='osmid', label_POI='name')

  0%|          | 195/299074 [00:00<02:33, 1949.87it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 299074/299074 [02:16<00:00, 2193.32it/s]

Integration with POI was finalized

Total Time: 136.40 seconds

### Resultado

In [74]:
move_df.head()

,id,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,datetime,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,lat,lon,Location,id_poi,dist_poi,type_poi
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357792,-71.139374,"(42.35779134, -71.13937053)",257536166,15243083.0,Archives & Records
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306820,-71.060303,"(42.30682138, -71.06030035)",257536166,15235151.0,Archives & Records
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346588,-71.072426,"(42.34658879, -71.07242943)",257536166,15239565.0,Archives & Records
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334183,-71.078667,"(42.33418175, -71.07866441)",257536166,15238546.0,Archives & Records
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275364,-71.090363,"(42.27536542, -71.09036101)",257536166,15233078.0,Archives & Records

### Pontos próximos a Archives & Records

##### Dados

In [76]:
prox_df = move_df.loc[move_df['type_poi'] == 'Archives & Records']
prox_df.head()

,id,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,datetime,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,lat,lon,Location,id_poi,dist_poi,type_poi
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357792,-71.139374,"(42.35779134, -71.13937053)",257536166,15243083.0,Archives & Records
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306820,-71.060303,"(42.30682138, -71.06030035)",257536166,15235151.0,Archives & Records
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346588,-71.072426,"(42.34658879, -71.07242943)",257536166,15239565.0,Archives & Records
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334183,-71.078667,"(42.33418175, -71.07866441)",257536166,15238546.0,Archives & Records
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275364,-71.090363,"(42.27536542, -71.09036101)",257536166,15233078.0,Archives & Records

##### Tamanho

In [77]:
print("Número de pontos mais próximos de Archives & Records: ", prox_df.shape[0])

Número de pontos mais próximos de Archives & Records:  298329

## Integrando Pontos de Interesse ao DataSet (Usando join_with_POIs_optimizer)

In [80]:
#Deixando o move_df como no inicio
move_df = move_df = MoveDataFrame(data=pdf, latitude='Lat', longitude='Long', datetime='OCCURRED_ON_DATE', traj_id='INCIDENT_NUMBER')
move_df = move_df.dropna(subset = ["lat"], inplace=False)
move_df = move_df.dropna(subset = ["lon"], inplace=False)

it.join_with_POIs_optimizer(move_df, POIs, label_id='osmid', label_POI='name')

Integration with POIs...

UnboundLocalError: local variable 'idx' referenced before assignment

## Integrando Pontos de Interesse ao DataSet baseado em categorias

### Executando

#### Removendo POIs sem categorias

In [90]:
POIs = POIs.dropna(subset = ["amenity"], inplace = False)
POIs['amenity'].head()

120    parking_entrance
126    parking_entrance
178              prison
179              prison
180              prison
Name: amenity, dtype: object

In [91]:
it.join_with_POIs_by_category(move_df, POIs, label_category='amenity', label_id='osmid', label_POI='name')

  0%|          | 428/299074 [00:00<01:09, 4279.82it/s]

Integration with POIs...
There are 79 categories ===============
Calculing dist to category: parking_entrance ===============

100%|██████████| 299074/299074 [00:45<00:00, 6557.33it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: prison ===============

100%|██████████| 299074/299074 [00:43<00:00, 6910.62it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: hospital ===============

100%|██████████| 299074/299074 [00:42<00:00, 6996.96it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: police ===============

100%|██████████| 299074/299074 [00:43<00:00, 6797.51it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: fire_station ===============

100%|██████████| 299074/299074 [00:46<00:00, 6486.73it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: library ===============

100%|██████████| 299074/299074 [00:50<00:00, 5911.69it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: school ===============

100%|██████████| 299074/299074 [01:02<00:00, 4763.88it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: restaurant ===============

100%|██████████| 299074/299074 [01:02<00:00, 4816.14it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: bank ===============

100%|██████████| 299074/299074 [00:43<00:00, 6896.40it/s]

Calculing dist to category: fast_food ===============

100%|██████████| 299074/299074 [00:50<00:00, 5957.93it/s]

Calculing dist to category: grave_yard ===============

100%|██████████| 299074/299074 [00:41<00:00, 7155.10it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: place_of_worship ===============

100%|██████████| 299074/299074 [00:45<00:00, 6575.28it/s]
  0%|          | 0/299074 [00:00<?, ?it/s]

Calculing dist to category: fountain ===============

100%|██████████| 299074/299074 [00:45<00:00, 6541.05it/s]

Calculing dist to category: doctors ===============

100%|██████████| 299074/299074 [00:45<00:00, 6575.37it/s]

Calculing dist to category: university ===============

100%|██████████| 299074/299074 [00:35<00:00, 8352.08it/s]

Calculing dist to category: post_office ===============

100%|██████████| 299074/299074 [00:32<00:00, 9068.45it/s]

Calculing dist to category: clinic ===============

100%|██████████| 299074/299074 [00:32<00:00, 9309.83it/s]

Calculing dist to category: bicycle_parking ===============

100%|██████████| 299074/299074 [00:35<00:00, 8356.63it/s]

Calculing dist to category: parking ===============

100%|██████████| 299074/299074 [00:34<00:00, 8726.94it/s]

Calculing dist to category: theatre ===============

100%|██████████| 299074/299074 [00:33<00:00, 8917.52it/s]

Calculing dist to category: arts_centre ===============

100%|██████████| 299074/299074 [00:38<00:00, 7724.28it/s]

Calculing dist to category: courthouse ===============

100%|██████████| 299074/299074 [00:44<00:00, 6744.37it/s]

Calculing dist to category: public_building ===============

100%|██████████| 299074/299074 [00:39<00:00, 7648.59it/s]

Calculing dist to category: cafe ===============

100%|██████████| 299074/299074 [00:43<00:00, 6919.70it/s]

Calculing dist to category: pharmacy ===============

100%|██████████| 299074/299074 [00:37<00:00, 8027.73it/s]

Calculing dist to category: bar ===============

100%|██████████| 299074/299074 [00:37<00:00, 7882.58it/s]

Calculing dist to category: post_box ===============

100%|██████████| 299074/299074 [00:37<00:00, 8023.76it/s]

Calculing dist to category: pub ===============

100%|██████████| 299074/299074 [00:36<00:00, 8144.72it/s]

Calculing dist to category: taxi ===============

100%|██████████| 299074/299074 [00:39<00:00, 7649.30it/s]

Calculing dist to category: atm ===============

100%|██████████| 299074/299074 [00:39<00:00, 7600.73it/s]

Calculing dist to category: college;school ===============

100%|██████████| 299074/299074 [00:34<00:00, 8667.88it/s]

Calculing dist to category: bench ===============

100%|██████████| 299074/299074 [01:06<00:00, 4516.51it/s]

Calculing dist to category: toilets ===============

100%|██████████| 299074/299074 [00:40<00:00, 7350.00it/s]

Calculing dist to category: waste_basket ===============

100%|██████████| 299074/299074 [00:52<00:00, 5711.64it/s]

Calculing dist to category: drinking_water ===============

100%|██████████| 299074/299074 [00:43<00:00, 6903.57it/s]

Calculing dist to category: social_facility ===============

100%|██████████| 299074/299074 [00:41<00:00, 7146.61it/s]

Calculing dist to category: ferry_terminal ===============

100%|██████████| 299074/299074 [00:42<00:00, 7044.56it/s]

Calculing dist to category: bus_station ===============

100%|██████████| 299074/299074 [00:41<00:00, 7240.25it/s]

Calculing dist to category: college ===============

100%|██████████| 299074/299074 [00:43<00:00, 6856.68it/s]

Calculing dist to category: cinema ===============

100%|██████████| 299074/299074 [00:43<00:00, 6838.55it/s]

Calculing dist to category: shower ===============

100%|██████████| 299074/299074 [00:41<00:00, 7177.12it/s]

Calculing dist to category: car_sharing ===============

100%|██████████| 299074/299074 [00:42<00:00, 7035.94it/s]

Calculing dist to category: marketplace ===============

100%|██████████| 299074/299074 [00:44<00:00, 6770.54it/s]

Calculing dist to category: fuel ===============

100%|██████████| 299074/299074 [00:42<00:00, 7039.96it/s]

Calculing dist to category: community_centre ===============

100%|██████████| 299074/299074 [00:39<00:00, 7568.39it/s]

Calculing dist to category: music_club ===============

100%|██████████| 299074/299074 [1:09:29<00:00, 71.72it/s]

Calculing dist to category: dentist ===============

100%|██████████| 299074/299074 [00:34<00:00, 8644.49it/s]

Calculing dist to category: bbq ===============

100%|██████████| 299074/299074 [00:32<00:00, 9256.66it/s]

Calculing dist to category: childcare ===============

100%|██████████| 299074/299074 [00:31<00:00, 9432.02it/s]

Calculing dist to category: telephone ===============

100%|██████████| 299074/299074 [00:32<00:00, 9264.17it/s]

Calculing dist to category: social_centre ===============

100%|██████████| 299074/299074 [00:31<00:00, 9645.34it/s]

Calculing dist to category: food_court ===============

100%|██████████| 299074/299074 [00:34<00:00, 8778.71it/s]

Calculing dist to category: ice_cream ===============

100%|██████████| 299074/299074 [00:36<00:00, 8229.78it/s]

Calculing dist to category: vending_machine ===============

100%|██████████| 299074/299074 [00:35<00:00, 8385.32it/s]

Calculing dist to category: clock ===============

100%|██████████| 299074/299074 [00:33<00:00, 9002.93it/s]

Calculing dist to category: nursing_home ===============

100%|██████████| 299074/299074 [00:32<00:00, 9249.15it/s]

Calculing dist to category: car_rental ===============

100%|██████████| 299074/299074 [00:35<00:00, 8492.78it/s]

Calculing dist to category: nightclub ===============

100%|██████████| 299074/299074 [00:34<00:00, 8754.88it/s]

Calculing dist to category: bicycle_rental ===============

100%|██████████| 299074/299074 [00:36<00:00, 8258.59it/s]

Calculing dist to category: car_wash ===============

100%|██████████| 299074/299074 [00:32<00:00, 9178.28it/s]

Calculing dist to category: recycling ===============

100%|██████████| 299074/299074 [00:33<00:00, 8857.33it/s]

Calculing dist to category: bicycle_repair_station ===============

100%|██████████| 299074/299074 [00:34<00:00, 8759.02it/s]

Calculing dist to category: waste_disposal ===============

100%|██████████| 299074/299074 [00:32<00:00, 9325.46it/s]

Calculing dist to category: parking_space ===============

100%|██████████| 299074/299074 [00:33<00:00, 8888.63it/s]

Calculing dist to category: money_transfer ===============

100%|██████████| 299074/299074 [00:31<00:00, 9450.28it/s]

Calculing dist to category: veterinary ===============

100%|██████████| 299074/299074 [00:32<00:00, 9171.05it/s]

Calculing dist to category: boat_rental ===============

100%|██████████| 299074/299074 [00:35<00:00, 8492.17it/s]

Calculing dist to category: bureau_de_change ===============

100%|██████████| 299074/299074 [00:33<00:00, 9009.58it/s]

Calculing dist to category: driving_school ===============

100%|██████████| 299074/299074 [00:31<00:00, 9512.93it/s]

Calculing dist to category: shelter ===============

100%|██████████| 299074/299074 [00:32<00:00, 9246.00it/s]

Calculing dist to category: luggage_locker ===============

100%|██████████| 299074/299074 [00:31<00:00, 9566.33it/s]

Calculing dist to category: coworking_space ===============

100%|██████████| 299074/299074 [00:34<00:00, 8698.30it/s]

Calculing dist to category: studio ===============

100%|██████████| 299074/299074 [00:32<00:00, 9328.09it/s]

Calculing dist to category: internet_cafe ===============

100%|██████████| 299074/299074 [00:31<00:00, 9507.43it/s]

Calculing dist to category: letter_box ===============

100%|██████████| 299074/299074 [00:32<00:00, 9149.50it/s]

Calculing dist to category: charging_station ===============

100%|██████████| 299074/299074 [00:32<00:00, 9078.85it/s]

Calculing dist to category: public_bookcase ===============

100%|██████████| 299074/299074 [00:32<00:00, 9119.48it/s]

Calculing dist to category: bar;restaurant ===============

100%|██████████| 299074/299074 [00:31<00:00, 9426.53it/s]

Calculing dist to category: kindergarten ===============

100%|██████████| 299074/299074 [00:31<00:00, 9542.98it/s]

Integration with POI was finalized

Total Time: 7231.17 seconds

### Testando

In [ ]:
move_df.head(10)

## Integrando Pontos de Interesse ao DataSet baseado no datetime

Integra um dataframe normal com um CVP com as informações dos Pontos de Interesse, possuindo 'lat', 'lon', 'datetime', 'event_id' e 'event_type' como labels.

In [197]:
cvp = POIs.copy()
cvp['event_id'] = cvp['id']
cvp['event_type'] = cvp['Type']
cvp = cvp.drop(['id', 'Type', 'categories'], axis=1)
cvp.head()

         lat         lon            datetime event_id  event_type
0  39.984094  116.319236 2008-10-23 05:53:05        0        bank
1  40.016238  116.307691 2008-10-23 11:03:06        1        bank
2  39.993625  116.326474 2008-10-24 00:02:11        2        park
3  39.979564  116.312329 2008-10-24 03:22:35        3  restaurant

In [198]:
it.join_with_POI_datetime(move_df, POIs, label_date='datetime', time_window=900, dist_to_poi=50)

  2%|▏         | 46/2000 [00:00<00:04, 450.94it/s]

Integration with CVP...

100%|██████████| 2000/2000 [00:03<00:00, 632.06it/s]

Integration with CVP was completed

Total Time: 3.22 seconds
-----------------------------------------------------

In [199]:
move_df.head()

,lat,lon,datetime,id,id_private,dist_private,id_public,dist_public,event_id_2,dist_cvp_2,event_type_2
0,39.984094,116.319236,2008-10-23 05:53:05,1,0,0.000000,2,1226.602051,0,0.000000,bank
1,39.984198,116.319322,2008-10-23 05:53:06,1,0,14.015319,2,1212.586914,0,14.015319,bank
2,39.984224,116.319402,2008-10-23 05:53:11,1,0,20.082062,2,1207.115723,0,20.082062,bank
3,39.984211,116.319389,2008-10-23 05:53:16,1,0,18.454088,2,1208.684082,0,18.454088,bank
4,39.984217,116.319422,2008-10-23 05:53:21,1,0,20.647966,2,1206.864136,0,20.647966,bank

## Otimizador de integração de Pontos de Interesse ao DataSet baseado no datetime

In [200]:
move_df = df[0:2000].copy()
it.join_with_POI_datetime_optimizer(move_df, POIs, label_date='datetime', time_window=900)

100%|██████████| 4/4 [00:00<00:00, 33.90it/s]

Integration with CVP...
Integration with CVP was completed

Total Time: 0.13 seconds
-----------------------------------------------------

In [201]:
move_df.head()

,lat,lon,datetime,id,event_id,dist_cvp,event_type
0,39.984094,116.319236,2008-10-23 05:53:05,1,0,0.000000,bank
1,39.984198,116.319322,2008-10-23 05:53:06,1,0,14.015319,bank
2,39.984224,116.319402,2008-10-23 05:53:11,1,0,20.082062,bank
3,39.984211,116.319389,2008-10-23 05:53:16,1,0,18.454088,bank
4,39.984217,116.319422,2008-10-23 05:53:21,1,0,20.647966,bank

## Integração com Ponto de Interesse HOME

Precisa de mais de um ponto de interesse do tipo home. E o tipo Home precisa informar, além da latitude, longitude e id, o endereço('formatted_address') e a cidade('city')

### Criando ponto Home

In [202]:
home_df = df.iloc[300:302].copy()
home_df['formatted_address'] = ['Rua1, n02', 'Rua2, n03']
home_df['city'] = ['ChinaTown', 'ChinaTown']

### Usando Função

In [203]:
move_df = df.iloc[0:2000].copy()
it.join_with_HOME_by_id(move_df, home_df, label_id='id')

Integration with Home...
...setting id as index
... Reseting index

In [204]:
move_df.head()

,id,lat,lon,datetime,dist_home,Home,city
0,1,39.984094,116.319236,2008-10-23 05:53:05,1031.244670,"Rua1, n02",ChinaTown
1,1,39.984198,116.319322,2008-10-23 05:53:06,1017.586432,"Rua1, n02",ChinaTown
2,1,39.984224,116.319402,2008-10-23 05:53:11,1011.228487,"Rua1, n02",ChinaTown
3,1,39.984211,116.319389,2008-10-23 05:53:16,1013.049046,"Rua1, n02",ChinaTown
4,1,39.984217,116.319422,2008-10-23 05:53:21,1010.855597,"Rua1, n02",ChinaTown

## Merge de HOME com DataSet já integrado com POIs

### Integração do DataSet com POIs

In [205]:
it.join_with_POIs(move_df, POIs, label_id='id', label_POI='Type')

 40%|███▉      | 793/2000 [00:00<00:00, 7929.14it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 2000/2000 [00:00<00:00, 7904.56it/s]

Integration with POI was finalized

Total Time: 0.26 seconds

In [206]:
it.merge_HOME_with_POI(move_df)

merge home with POI using shortest distance

In [207]:
move_df.head()

,id,lat,lon,datetime,city,id_poi,dist_poi,type_poi
0,1,39.984094,116.319236,2008-10-23 05:53:05,ChinaTown,0,0.000000,bank
1,1,39.984198,116.319322,2008-10-23 05:53:06,ChinaTown,0,14.015319,bank
2,1,39.984224,116.319402,2008-10-23 05:53:11,ChinaTown,0,20.082062,bank
3,1,39.984211,116.319389,2008-10-23 05:53:16,ChinaTown,0,18.454088,bank
4,1,39.984217,116.319422,2008-10-23 05:53:21,ChinaTown,0,20.647966,bank

## A seguir temos diversas funções Union

Elas possuem a finalidade de unir divesos tipos de POI que significam a mesma coisa, ou coisas semelhantes, em um unico tipo de POI

#### Union de Bancos

Converte os POIs dos tipos "bancos_filiais", "bancos_agencias", "bancos_postos", "bancos_PAE" e "bank" para um único tipo: "banks"

In [208]:
move_df = df[0:2000].copy()

#Criamos POIs com diversos type_poi que descrevem diversos tipos de bancos para testar
indexes_bp = np.linspace(0, move_df.shape[0], 6)
banks_pois = move_df[move_df.index.isin(indexes_bp)].copy()
banks_pois['id'] = [0,1,2,3,4]
banks_pois['type_poi'] = ['bancos_filiais', 'bancos_agencias', 'bancos_postos', 'bancos_PAE', 'bank']

#Visualização
banks_pois.head()

            lat         lon            datetime  id         type_poi
0     39.984094  116.319236 2008-10-23 05:53:05   0   bancos_filiais
400   39.999815  116.324254 2008-10-23 10:47:45   1  bancos_agencias
800   40.013857  116.306533 2008-10-23 11:51:23   2    bancos_postos
1200  40.004635  116.321358 2008-10-23 23:55:15   3       bancos_PAE
1600  39.979649  116.327110 2008-10-24 01:47:22   4             bank

In [209]:
#Join com POIs
it.join_with_POIs(move_df, banks_pois, label_id='id', label_POI='type_poi')

 38%|███▊      | 764/2000 [00:00<00:00, 7563.82it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 2000/2000 [00:00<00:00, 7245.80it/s]

Integration with POI was finalized

Total Time: 0.29 seconds

In [210]:
#Resultado do Join
move_df.head(10)

,lat,lon,datetime,id,id_poi,dist_poi,type_poi
0,39.984094,116.319236,2008-10-23 05:53:05,1,0,0.000000,bancos_filiais
1,39.984198,116.319322,2008-10-23 05:53:06,1,0,14.015319,bancos_filiais
2,39.984224,116.319402,2008-10-23 05:53:11,1,0,20.082062,bancos_filiais
3,39.984211,116.319389,2008-10-23 05:53:16,1,0,18.454088,bancos_filiais
4,39.984217,116.319422,2008-10-23 05:53:21,1,0,20.647966,bancos_filiais
5,39.984710,116.319865,2008-10-23 05:53:23,1,0,86.413269,bancos_filiais
6,39.984674,116.319810,2008-10-23 05:53:28,1,0,80.277718,bancos_filiais
7,39.984623,116.319773,2008-10-23 05:53:33,1,0,74.630005,bancos_filiais
8,39.984606,116.319732,2008-10-23 05:53:38,1,0,71.017654,bancos_filiais
9,39.984555,116.319728,2008-10-23 05:53:43,1,0,65.478699,bancos_filiais

In [211]:
#Verificando a quantidade de cada ponto atribuido a cada tipo de poi
bancos_filiais = move_df.loc[move_df['type_poi'] == 'bancos_filiais']
bancos_agencias = move_df.loc[move_df['type_poi'] == 'bancos_agencias']
bancos_postos = move_df.loc[move_df['type_poi'] == 'bancos_postos']
bancos_PAE = move_df.loc[move_df['type_poi'] == 'bancos_PA']
bank = move_df.loc[move_df['type_poi'] == 'bank']

print("Quantidades de pontos próximos de cada definição de banco")
print("bancos_filiais: ", bancos_filiais.shape[0])
print("bancos_agencias: ", bancos_agencias.shape[0])
print("bancos_postos: ", bancos_postos.shape[0])
print("bancos_PAE: ", bancos_PAE.shape[0])
print("bank: ", bank.shape[0])

Quantidades de pontos próximos de cada definição de banco
bancos_filiais:  536
bancos_agencias:  287
bancos_postos:  555
bancos_PAE:  0
bank:  384

In [212]:
#Finalmente, o Union
it.union_poi_bank(move_df)

#Visualização
move_df.head()

union bank categories to one category
... There are 5 -- type_poi

         lat         lon            datetime  id id_poi   dist_poi type_poi
0  39.984094  116.319236 2008-10-23 05:53:05   1      0   0.000000    banks
1  39.984198  116.319322 2008-10-23 05:53:06   1      0  14.015319    banks
2  39.984224  116.319402 2008-10-23 05:53:11   1      0  20.082062    banks
3  39.984211  116.319389 2008-10-23 05:53:16   1      0  18.454088    banks
4  39.984217  116.319422 2008-10-23 05:53:21   1      0  20.647966    banks

In [213]:
#Verificando
move_df.loc[move_df['type_poi'] == 'banks'].shape[0]

2000

#### TODO Union das Estações de Ônibus

Converte os POIs do tipo "transit_station" e "pontos_de_onibus" para um único tipo: "bus_station"

In [214]:
move_df = df[0:2000].copy()

#Criamos POIs com diversos type_poi que descrevem diversos tipos de pontos de onibus para testar
indexes_bp = np.linspace(0, move_df.shape[0], 6)
bus_pois = move_df[move_df.index.isin(indexes_bp)].copy()
bus_pois['id'] = [0,1,2,3,4]
bus_pois['type_poi'] = ['transit_station', 'transit_station', 'pontos_de_onibus', 'transit_station', 'pontos_de_onibus']

#Visualização
bus_pois.head()

            lat         lon            datetime  id          type_poi
0     39.984094  116.319236 2008-10-23 05:53:05   0   transit_station
400   39.999815  116.324254 2008-10-23 10:47:45   1   transit_station
800   40.013857  116.306533 2008-10-23 11:51:23   2  pontos_de_onibus
1200  40.004635  116.321358 2008-10-23 23:55:15   3   transit_station
1600  39.979649  116.327110 2008-10-24 01:47:22   4  pontos_de_onibus

In [215]:
#Integração dos POIs com o dataset
it.join_with_POIs(move_df, bus_pois, label_id='id', label_POI='type_poi')

 33%|███▎      | 668/2000 [00:00<00:00, 6679.59it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 2000/2000 [00:00<00:00, 7751.35it/s]

Integration with POI was finalized

Total Time: 0.27 seconds

In [216]:
#Visualização
move_df.head()

,lat,lon,datetime,id,id_poi,dist_poi,type_poi
0,39.984094,116.319236,2008-10-23 05:53:05,1,0,0.000000,transit_station
1,39.984198,116.319322,2008-10-23 05:53:06,1,0,14.015319,transit_station
2,39.984224,116.319402,2008-10-23 05:53:11,1,0,20.082062,transit_station
3,39.984211,116.319389,2008-10-23 05:53:16,1,0,18.454088,transit_station
4,39.984217,116.319422,2008-10-23 05:53:21,1,0,20.647966,transit_station

In [217]:
transit_station = move_df.loc[move_df['type_poi'] == 'transit_station']
pontos_de_onibus = move_df.loc[move_df['type_poi'] == 'pontos_de_onibus']

print("Quantidade de pontos proximos a transit_station's: ", transit_station.shape[0])
print("Quantidade de pontos proximos a pontos_de_onibus's: ", pontos_de_onibus.shape[0])

Quantidade de pontos proximos a transit_station's:  1061
Quantidade de pontos proximos a pontos_de_onibus's:  939

In [218]:
#Finalmente, o Union
it.union_poi_bus_station(move_df)

move_df.head()

union bus station categories to one category

,lat,lon,datetime,id,id_poi,dist_poi,type_poi
0,39.984094,116.319236,2008-10-23 05:53:05,1,0,0.000000,bus_station
1,39.984198,116.319322,2008-10-23 05:53:06,1,0,14.015319,bus_station
2,39.984224,116.319402,2008-10-23 05:53:11,1,0,20.082062,bus_station
3,39.984211,116.319389,2008-10-23 05:53:16,1,0,18.454088,bus_station
4,39.984217,116.319422,2008-10-23 05:53:21,1,0,20.647966,bus_station

In [219]:
#Verificando

move_df.loc[move_df['type_poi'] == 'bus_station'].shape[0]

2000

#### Union de Bares e Restaurantes

Converte os POIs do tipo "bar" e "restaurant" para um único tipo: "bar-restaurant"

In [220]:
move_df = df[0:2000].copy()

#Criamos POIs com os dois tipos
indexes_br = np.linspace(0, move_df.shape[0], 5)
br_POIs = move_df[move_df.index.isin(indexes_br)].copy()
br_POIs['type_poi'] = ['bar','restaurant','restaurant', 'bar']

#Visualização
br_POIs.head()

            lat         lon            datetime  id    type_poi
0     39.984094  116.319236 2008-10-23 05:53:05   1         bar
500   40.006436  116.317701 2008-10-23 10:53:31   1  restaurant
1000  40.014125  116.306159 2008-10-23 23:43:56   1  restaurant
1500  39.979009  116.326873 2008-10-24 00:11:29   1         bar

In [221]:
#Integração dos POIs com o dataframe
it.join_with_POIs(move_df, br_POIs, label_id='id', label_POI='type_poi')

 36%|███▌      | 721/2000 [00:00<00:00, 7209.73it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 2000/2000 [00:00<00:00, 8031.63it/s]

Integration with POI was finalized

Total Time: 0.26 seconds

In [222]:
#Visualização
move_df.head()

         lat         lon            datetime  id id_poi   dist_poi type_poi
0  39.984094  116.319236 2008-10-23 05:53:05   1      1   0.000000      bar
1  39.984198  116.319322 2008-10-23 05:53:06   1      1  14.015319      bar
2  39.984224  116.319402 2008-10-23 05:53:11   1      1  20.082062      bar
3  39.984211  116.319389 2008-10-23 05:53:16   1      1  18.454088      bar
4  39.984217  116.319422 2008-10-23 05:53:21   1      1  20.647966      bar

In [223]:
#Quantidade de pontos próximos de cada tipo
bar = move_df.loc[move_df['type_poi'] == 'bar']
restaurant = move_df.loc[move_df['type_poi'] == 'restaurant']

print("Pontos mais próximos do tipo 'bar': ", bar.shape[0])
print("Pontos mais próximos do tipo 'restaurant': ", restaurant.shape[0])

Pontos mais próximos do tipo 'bar':  1033
Pontos mais próximos do tipo 'restaurant':  967

In [224]:
#Union dos dois tipos de POIs em um único
it.union_poi_bar_restaurant(move_df)

#Visualização
move_df.head()

union restaurant and bar categories to one category

,lat,lon,datetime,id,id_poi,dist_poi,type_poi
0,39.984094,116.319236,2008-10-23 05:53:05,1,1,0.000000,bar-restaurant
1,39.984198,116.319322,2008-10-23 05:53:06,1,1,14.015319,bar-restaurant
2,39.984224,116.319402,2008-10-23 05:53:11,1,1,20.082062,bar-restaurant
3,39.984211,116.319389,2008-10-23 05:53:16,1,1,18.454088,bar-restaurant
4,39.984217,116.319422,2008-10-23 05:53:21,1,1,20.647966,bar-restaurant

In [225]:
#Verificando
move_df.loc[move_df['type_poi'] == 'bar-restaurant'].shape[0]

2000

#### Union de Parques

Converte os POIs do tipo "pracas_e_parques" e "park" para um único tipo: "parks"

In [226]:
move_df = df[0:2000].copy()

#Criamos POIs com os dois tipos
indexes_p = np.linspace(0, move_df.shape[0], 5)
p_POIs = move_df[move_df.index.isin(indexes_p)].copy()
p_POIs['type_poi'] = ['pracas_e_parques','pracas_e_parques','park', 'park']

#Visualização
p_POIs.head()

            lat         lon            datetime  id          type_poi
0     39.984094  116.319236 2008-10-23 05:53:05   1  pracas_e_parques
500   40.006436  116.317701 2008-10-23 10:53:31   1  pracas_e_parques
1000  40.014125  116.306159 2008-10-23 23:43:56   1              park
1500  39.979009  116.326873 2008-10-24 00:11:29   1              park

In [227]:
#Integração dos POIs com o DataFrame
it.join_with_POIs(move_df, p_POIs, label_id='id', label_POI='type_poi')

#Visualização
move_df.head()

 33%|███▎      | 662/2000 [00:00<00:00, 6619.91it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 2000/2000 [00:00<00:00, 7751.54it/s]

Integration with POI was finalized

Total Time: 0.27 seconds

,lat,lon,datetime,id,id_poi,dist_poi,type_poi
0,39.984094,116.319236,2008-10-23 05:53:05,1,1,0.000000,pracas_e_parques
1,39.984198,116.319322,2008-10-23 05:53:06,1,1,14.015319,pracas_e_parques
2,39.984224,116.319402,2008-10-23 05:53:11,1,1,20.082062,pracas_e_parques
3,39.984211,116.319389,2008-10-23 05:53:16,1,1,18.454088,pracas_e_parques
4,39.984217,116.319422,2008-10-23 05:53:21,1,1,20.647966,pracas_e_parques

In [228]:
#Quantidade de pontos próximos de cada tipo de POI
pracas_e_parques = move_df.loc[move_df['type_poi'] == 'pracas_e_parques']
park = move_df.loc[move_df['type_poi'] == 'park']

print("Quantidade de pontos mais próximos de pracas_e_parques: ", pracas_e_parques.shape[0])
print("Quantidade de pontos mais próximos de park: ", park.shape[0])

Quantidade de pontos mais próximos de pracas_e_parques:  1149
Quantidade de pontos mais próximos de park:  851

In [229]:
#Union dos dois tipos
it.union_poi_parks(move_df)

move_df.head()

union parks categories to one category

         lat         lon            datetime  id id_poi   dist_poi type_poi
0  39.984094  116.319236 2008-10-23 05:53:05   1      1   0.000000    parks
1  39.984198  116.319322 2008-10-23 05:53:06   1      1  14.015319    parks
2  39.984224  116.319402 2008-10-23 05:53:11   1      1  20.082062    parks
3  39.984211  116.319389 2008-10-23 05:53:16   1      1  18.454088    parks
4  39.984217  116.319422 2008-10-23 05:53:21   1      1  20.647966    parks

In [230]:
#Verificando a nova quantidade
move_df.loc[move_df['type_poi'] == 'parks'].shape[0]

2000

#### Union de pontos policiais

In [231]:
move_df = df[0:2000].copy()

#Criamos POIs com os dois tipos
indexes_pol = np.linspace(0, move_df.shape[0], 5)
pol_POIs = move_df[move_df.index.isin(indexes_pol)].copy()
pol_POIs['type_poi'] = ['distritos_policiais','police','distritos_policiais', 'distritos_policiais']

#Visualização
pol_POIs.head()

            lat         lon            datetime  id             type_poi
0     39.984094  116.319236 2008-10-23 05:53:05   1  distritos_policiais
500   40.006436  116.317701 2008-10-23 10:53:31   1               police
1000  40.014125  116.306159 2008-10-23 23:43:56   1  distritos_policiais
1500  39.979009  116.326873 2008-10-24 00:11:29   1  distritos_policiais

In [232]:
#Integração de POIs com os DataFrames
it.join_with_POIs(move_df, pol_POIs, label_id='id', label_POI='type_poi')

move_df.head()

 39%|███▊      | 772/2000 [00:00<00:00, 7719.60it/s]

Integration with POIs...
... Reseting index to operation...

100%|██████████| 2000/2000 [00:00<00:00, 8031.61it/s]

Integration with POI was finalized

Total Time: 0.26 seconds

,lat,lon,datetime,id,id_poi,dist_poi,type_poi
0,39.984094,116.319236,2008-10-23 05:53:05,1,1,0.000000,distritos_policiais
1,39.984198,116.319322,2008-10-23 05:53:06,1,1,14.015319,distritos_policiais
2,39.984224,116.319402,2008-10-23 05:53:11,1,1,20.082062,distritos_policiais
3,39.984211,116.319389,2008-10-23 05:53:16,1,1,18.454088,distritos_policiais
4,39.984217,116.319422,2008-10-23 05:53:21,1,1,20.647966,distritos_policiais

In [233]:
#Quantidade de pontos mais próximos de cada tipo de ponto
distritos_policiais = move_df.loc[move_df['type_poi'] == 'distritos_policiais']

print("Quantidade de pontos mais próximos de distritos_policiais: ", distritos_policiais.shape[0])

Quantidade de pontos mais próximos de distritos_policiais:  1534

In [234]:
#Union dos pontos
it.union_poi_police(move_df)

union distritos policies and police categories

In [235]:
#Visualização
move_df.head()

         lat         lon            datetime  id id_poi   dist_poi type_poi
0  39.984094  116.319236 2008-10-23 05:53:05   1      1   0.000000   police
1  39.984198  116.319322 2008-10-23 05:53:06   1      1  14.015319   police
2  39.984224  116.319402 2008-10-23 05:53:11   1      1  20.082062   police
3  39.984211  116.319389 2008-10-23 05:53:16   1      1  18.454088   police
4  39.984217  116.319422 2008-10-23 05:53:21   1      1  20.647966   police

In [236]:
#Verificação
move_df.loc[move_df['type_poi'] == 'police'].shape[0]

2000

## Integração entre trajetórias e áreas coletivas

Tanto as trajetórias como as áreas coletivas precisam ser DataFrames GeoPandas

In [123]:
conda install geopandas

Note: you may need to restart the kernel to use updated packages.Collecting package metadata (current_repodata.json): ...working... done

Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\mauri\.conda\envs\geo1

  added / updated specs:
    - geopandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2020.4.5.1         |           py36_0         156 KB
    cfitsio-3.470              |       he774522_2         516 KB
    click-plugins-1.1.1        |             py_0          11 KB
    cligj-0.5.0                |           py36_0          12 KB
    curl-7.67.0                |       h2a8f88b_0         123 KB
    expat-2.2.5                |       he025d50_0          83 KB
    fiona-1.8.11               |   py36h737a305_0         605 KB
    freexl-1.0.5               |       hfa6e2cd_0          50 KB
    gdal-3.0.2                 |   py36hdf43c64_0         1.0 MB
    geopandas-0.6.1            |             py_0         871 KB
    geotiff-1.5.1              |       h5770a2b_0         128 KB
    hdf4-4.2.13                |       h712560f_2         1.3 MB
    icu-58.2                   |       ha925a31_3         9.4 MB
    kealib-1.4.7               |       h07cbb95_6         133 KB
    krb5-1.16.4                |       hc04afaa_0         693 KB
    libboost-1.67.0            |       hd9e427e_4        18.6 MB
    libcurl-7.67.0             |       h2a8f88b_0         269 KB
    libgdal-3.0.2              |       h1155b67_0         7.0 MB
    libkml-1.3.0               |       he5f2a48_4        19.7 MB
    libnetcdf-4.6.1            |       h411e497_2         494 KB
    libpq-11.2                 |       h3235a2c_0         2.6 MB
    libspatialite-4.3.0a       |       h7ffb84d_0         2.3 MB
    m2w64-expat-2.1.1          |                2         160 KB
    m2w64-gettext-0.19.7       |                2         4.2 MB
    m2w64-libiconv-1.14        |                6         1.5 MB
    m2w64-xz-5.2.2             |                2         395 KB
    munch-2.5.0                |             py_0          16 KB
    openjpeg-2.3.0             |       h5ec785f_1         205 KB
    openssl-1.1.1g             |       he774522_0         4.8 MB
    pandas-1.0.3               |   py36h47e9c7a_0         7.4 MB
    pcre-8.43                  |       ha925a31_0         379 KB
    postgresql-11.2            |       h3235a2c_0        13.0 MB
    proj-6.2.1                 |       h9f7ef89_0         7.9 MB
    pyproj-2.6.0               |   py36hcfa1391_1         296 KB
    pytz-2020.1                |             py_0         184 KB
    rtree-0.9.4                |   py36h21ff451_1          49 KB
    tbb-2018.0.5               |       he980bc4_0         150 KB
    tiledb-1.6.3               |       h7b000aa_0         1.3 MB
    xerces-c-3.2.2             |       ha925a31_0         2.8 MB
    xz-5.2.5                   |       h62dcd97_0         333 KB
    zlib-1.2.11                |       h62dcd97_4         132 KB
    ------------------------------------------------------------
                                           Total:       111.2 MB

The following NEW packages will be INSTALLED:

  bzip2              pkgs/main/win-64::bzip2-1.0.8-he774522_0
  ca-certificates    pkgs/main/win-64::ca-certificates-2020.1.1-0
  cfitsio            pkgs/main/win-64::cfitsio-3.470-he774522_2
  click              pkgs/main/noarch::click-7.1.1-py_0
  click-plugins      pkgs/main/noarch::click-plugins-1.1.1-py_0
  cligj              pkgs/main/win-64::cligj-0.5.0-py36_0
  curl               pkgs/main/win-64::curl-7.67.0-h2a8f88b_0
  expat              pkgs/main/win-64::expat-2.2.5-he025d50_0
  fiona              pkgs/main/win-64::fiona-1.8.11-py36h737a305_0
  freexl             pkgs/main/win-64::freexl-1.0.5-hfa6e2cd_0
  gdal               pkgs/main/win-64::gdal-3.0.2-py36hdf43c64_0
  geopandas          pkgs/main/noarch::geopandas-0.6.1-py_0
  geotiff            pkgs/main/win-64::geotiff-1.5.1-h5770a2b_0
  hdf4               pkgs/main/win-64::hdf4-4.2.13-h712560f_2
  hdf5               pkgs/main/win-64::hdf5-1.10.4-h7ebc959_0
  icu                pkgs/main/win-64::icu-58.2-ha925a31_3
  jpeg               pkgs/main/win-64::jpeg-9b-hb83a4c4_2
  kealib             pkgs/main/win-64::kealib-1.4.7-h07cbb95_6
  krb5               pkgs/main/win-64::krb5-1.16.4-hc04afaa_0
  libboost           pkgs/main/win-64::libboost-1.67.0-hd9e427e_4
  libcurl            pkgs/main/win-64::libcurl-7.67.0-h2a8f88b_0
  libgdal            pkgs/main/win-64::libgdal-3.0.2-h1155b67_0
  libiconv           pkgs/main/win-64::libiconv-1.15-h1df5818_7
  libkml             pkgs/main/win-64::libkml-1.3.0-he5f2a48_4
  libnetcdf          pkgs/main/win-64::libnetcdf-4.6.1-h411e497_2
  libpng             pkgs/main/win-64::libpng-1.6.37-h2a8f88b_0
  libpq              pkgs/main/win-64::libpq-11.2-h3235a2c_0
  libspatialindex    pkgs/main/win-64::libspatialindex-1.9.3-h33f27b4_0
  libspatialite      pkgs/main/win-64::libspatialite-4.3.0a-h7ffb84d_0
  libssh2            pkgs/main/win-64::libssh2-1.9.0-h7a1dbc1_1
  libtiff            pkgs/main/win-64::libtiff-4.1.0-h56a325e_0
  libxml2            pkgs/main/win-64::libxml2-2.9.9-h464c3ec_0
  lz4-c              pkgs/main/win-64::lz4-c-1.8.1.2-h2fa13f4_0
  m2w64-expat        pkgs/msys2/win-64::m2w64-expat-2.1.1-2
  m2w64-gettext      pkgs/msys2/win-64::m2w64-gettext-0.19.7-2
  m2w64-libiconv     pkgs/msys2/win-64::m2w64-libiconv-1.14-6
  m2w64-xz           pkgs/msys2/win-64::m2w64-xz-5.2.2-2
  munch              pkgs/main/noarch::munch-2.5.0-py_0
  openjpeg           pkgs/main/win-64::openjpeg-2.3.0-h5ec785f_1
  openssl            pkgs/main/win-64::openssl-1.1.1g-he774522_0
  pandas             pkgs/main/win-64::pandas-1.0.3-py36h47e9c7a_0
  pcre               pkgs/main/win-64::pcre-8.43-ha925a31_0
  postgresql         pkgs/main/win-64::postgresql-11.2-h3235a2c_0
  proj               pkgs/main/win-64::proj-6.2.1-h9f7ef89_0
  pyproj             pkgs/main/win-64::pyproj-2.6.0-py36hcfa1391_1
  pytz               pkgs/main/noarch::pytz-2020.1-py_0
  rtree              pkgs/main/win-64::rtree-0.9.4-py36h21ff451_1
  tbb                pkgs/main/win-64::tbb-2018.0.5-he980bc4_0
  tiledb             pkgs/main/win-64::tiledb-1.6.3-h7b000aa_0
  tk                 pkgs/main/win-64::tk-8.6.8-hfa6e2cd_0
  xerces-c           pkgs/main/win-64::xerces-c-3.2.2-ha925a31_0
  xz                 pkgs/main/win-64::xz-5.2.5-h62dcd97_0
  zlib               pkgs/main/win-64::zlib-1.2.11-h62dcd97_4
  zstd               pkgs/main/win-64::zstd-1.3.7-h508b16e_0

The following packages will be UPDATED:

  certifi                                 2019.11.28-py36_1 --> 2020.4.5.1-py36_0



Downloading and Extracting Packages

libgdal-3.0.2        | 7.0 MB    |            |   0%
libgdal-3.0.2        | 7.0 MB    |            |   0%
libgdal-3.0.2        | 7.0 MB    | 7          |   8%
libgdal-3.0.2        | 7.0 MB    | #          |  10%
libgdal-3.0.2        | 7.0 MB    | ##6        |  26%
libgdal-3.0.2        | 7.0 MB    | ###2       |  32%
libgdal-3.0.2        | 7.0 MB    | #####      |  51%
libgdal-3.0.2        | 7.0 MB    | ######1    |  61%
libgdal-3.0.2        | 7.0 MB    | #######9   |  79%
libgdal-3.0.2        | 7.0 MB    | #########1 |  92%
libgdal-3.0.2        | 7.0 MB    | ########## | 100%

munch-2.5.0          | 16 KB     |            |   0%
munch-2.5.0          | 16 KB     | ########## | 100%

xerces-c-3.2.2       | 2.8 MB    |            |   0%
xerces-c-3.2.2       | 2.8 MB    |            |   1%
xerces-c-3.2.2       | 2.8 MB    | #####2     |  52%
xerces-c-3.2.2       | 2.8 MB    | ######7    |  68%
xerces-c-3.2.2       | 2.8 MB    | ########## | 100%

libcurl-7.67.0       | 269 KB    |            |   0%
libcurl-7.67.0       | 269 KB    | ########## | 100%

kealib-1.4.7         | 133 KB    |            |   0%
kealib-1.4.7         | 133 KB    | ########## | 100%

libkml-1.3.0         | 19.7 MB   |            |   0%
libkml-1.3.0         | 19.7 MB   | 4          |   4%
libkml-1.3.0         | 19.7 MB   | #          |  10%
libkml-1.3.0         | 19.7 MB   | #7         |  17%
libkml-1.3.0         | 19.7 MB   | ##4        |  24%
libkml-1.3.0         | 19.7 MB   | ###1       |  31%
libkml-1.3.0         | 19.7 MB   | ###8       |  38%
libkml-1.3.0         | 19.7 MB   | ####4      |  45%
libkml-1.3.0         | 19.7 MB   | #####1     |  52%
libkml-1.3.0         | 19.7 MB   | #####8     |  58%
libkml-1.3.0         | 19.7 MB   | ######4    |  65%
libkml-1.3.0         | 19.7 MB   | #######1   |  71%
libkml-1.3.0         | 19.7 MB   | #######8   |  78%
libkml-1.3.0         | 19.7 MB   | ########4  |  85%
libkml-1.3.0         | 19.7 MB   | #########1 |  91%
libkml-1.3.0         | 19.7 MB   | #########8 |  98%
libkml-1.3.0         | 19.7 MB   | ########## | 100%

cligj-0.5.0          | 12 KB     |            |   0%
cligj-0.5.0          | 12 KB     | ########## | 100%

openjpeg-2.3.0       | 205 KB    |            |   0%
openjpeg-2.3.0       | 205 KB    | 7          |   8%
openjpeg-2.3.0       | 205 KB    | ########## | 100%

pyproj-2.6.0         | 296 KB    |            |   0%
pyproj-2.6.0         | 296 KB    | 5          |   5%
pyproj-2.6.0         | 296 KB    | ########## | 100%

geopandas-0.6.1      | 871 KB    |            |   0%
geopandas-0.6.1      | 871 KB    | #########1 |  92%
geopandas-0.6.1      | 871 KB    | ########## | 100%

xz-5.2.5             | 333 KB    |            |   0%
xz-5.2.5             | 333 KB    | ########## | 100%

cfitsio-3.470        | 516 KB    |            |   0%
cfitsio-3.470        | 516 KB    | 3          |   3%
cfitsio-3.470        | 516 KB    | ########## | 100%

tbb-2018.0.5         | 150 KB    |            |   0%
tbb-2018.0.5         | 150 KB    | ########## | 100%

pandas-1.0.3         | 7.4 MB    |            |   0%
pandas-1.0.3         | 7.4 MB    |            |   0%
pandas-1.0.3         | 7.4 MB    | #          |  11%
pandas-1.0.3         | 7.4 MB    | ##1        |  22%
pandas-1.0.3         | 7.4 MB    | ###8       |  39%
pandas-1.0.3         | 7.4 MB    | #####8     |  59%
pandas-1.0.3         | 7.4 MB    | #######8   |  79%
pandas-1.0.3         | 7.4 MB    | ########## | 100%

pcre-8.43            | 379 KB    |            |   0%
pcre-8.43            | 379 KB    | ########## | 100%

certifi-2020.4.5.1   | 156 KB    |            |   0%
certifi-2020.4.5.1   | 156 KB    | #######1   |  72%
certifi-2020.4.5.1   | 156 KB    | ########## | 100%

icu-58.2             | 9.4 MB    |            |   0%
icu-58.2             | 9.4 MB    | 2          |   2%
icu-58.2             | 9.4 MB    | 7          |   7%
icu-58.2             | 9.4 MB    | #9         |  19%
icu-58.2             | 9.4 MB    | ###3       |  33%
icu-58.2             | 9.4 MB    | ####7      |  48%
icu-58.2             | 9.4 MB    | ######2    |  62%
icu-58.2             | 9.4 MB    | #######7   |  77%
icu-58.2             | 9.4 MB    | #########1 |  91%
icu-58.2             | 9.4 MB    | ########## | 100%

freexl-1.0.5         | 50 KB     |            |   0%
freexl-1.0.5         | 50 KB     | ########## | 100%

m2w64-gettext-0.19.7 | 4.2 MB    |            |   0%
m2w64-gettext-0.19.7 | 4.2 MB    | ##3        |  23%
m2w64-gettext-0.19.7 | 4.2 MB    | ######     |  60%
m2w64-gettext-0.19.7 | 4.2 MB    | ########## | 100%

m2w64-libiconv-1.14  | 1.5 MB    |            |   0%
m2w64-libiconv-1.14  | 1.5 MB    | ######6    |  66%
m2w64-libiconv-1.14  | 1.5 MB    | ########## | 100%

libpq-11.2           | 2.6 MB    |            |   0%
libpq-11.2           | 2.6 MB    | ###3       |  33%
libpq-11.2           | 2.6 MB    | #########7 |  97%
libpq-11.2           | 2.6 MB    | ########## | 100%

openssl-1.1.1g       | 4.8 MB    |            |   0%
openssl-1.1.1g       | 4.8 MB    | #9         |  19%
openssl-1.1.1g       | 4.8 MB    | #####1     |  51%
openssl-1.1.1g       | 4.8 MB    | ########4  |  84%
openssl-1.1.1g       | 4.8 MB    | ########## | 100%

rtree-0.9.4          | 49 KB     |            |   0%
rtree-0.9.4          | 49 KB     | ########## | 100%

curl-7.67.0          | 123 KB    |            |   0%
curl-7.67.0          | 123 KB    | ########## | 100%

expat-2.2.5          | 83 KB     |            |   0%
expat-2.2.5          | 83 KB     | ########## | 100%

m2w64-expat-2.1.1    | 160 KB    |            |   0%
m2w64-expat-2.1.1    | 160 KB    | ########## | 100%

click-plugins-1.1.1  | 11 KB     |            |   0%
click-plugins-1.1.1  | 11 KB     | ########## | 100%

postgresql-11.2      | 13.0 MB   |            |   0%
postgresql-11.2      | 13.0 MB   |            |   0%
postgresql-11.2      | 13.0 MB   | #1         |  11%
postgresql-11.2      | 13.0 MB   | ##3        |  23%
postgresql-11.2      | 13.0 MB   | ###4       |  34%
postgresql-11.2      | 13.0 MB   | ####6      |  46%
postgresql-11.2      | 13.0 MB   | #####7     |  58%
postgresql-11.2      | 13.0 MB   | ######9    |  70%
postgresql-11.2      | 13.0 MB   | ########   |  80%
postgresql-11.2      | 13.0 MB   | ########## | 100%

m2w64-xz-5.2.2       | 395 KB    |            |   0%
m2w64-xz-5.2.2       | 395 KB    | ########## | 100%

libnetcdf-4.6.1      | 494 KB    |            |   0%
libnetcdf-4.6.1      | 494 KB    | ########## | 100%

fiona-1.8.11         | 605 KB    |            |   0%
fiona-1.8.11         | 605 KB    | 2          |   3%
fiona-1.8.11         | 605 KB    | ######8    |  69%
fiona-1.8.11         | 605 KB    | ########## | 100%

zlib-1.2.11          | 132 KB    |            |   0%
zlib-1.2.11          | 132 KB    | ########## | 100%

tiledb-1.6.3         | 1.3 MB    |            |   0%
tiledb-1.6.3         | 1.3 MB    | 1          |   1%
tiledb-1.6.3         | 1.3 MB    | ###4       |  34%
tiledb-1.6.3         | 1.3 MB    | #######    |  71%
tiledb-1.6.3         | 1.3 MB    | ########## | 100%

pytz-2020.1          | 184 KB    |            |   0%
pytz-2020.1          | 184 KB    | ########## | 100%

geotiff-1.5.1        | 128 KB    |            |   0%
geotiff-1.5.1        | 128 KB    | #2         |  13%
geotiff-1.5.1        | 128 KB    | ########## | 100%

proj-6.2.1           | 7.9 MB    |            |   0%
proj-6.2.1           | 7.9 MB    |            |   0%
proj-6.2.1           | 7.9 MB    | 3          |   3%
proj-6.2.1           | 7.9 MB    | 6          |   7%
proj-6.2.1           | 7.9 MB    | #4         |  15%
proj-6.2.1           | 7.9 MB    | ##6        |  27%
proj-6.2.1           | 7.9 MB    | ####4      |  44%
proj-6.2.1           | 7.9 MB    | ######4    |  64%
proj-6.2.1           | 7.9 MB    | ########4  |  84%
proj-6.2.1           | 7.9 MB    | ########## | 100%

libspatialite-4.3.0a | 2.3 MB    |            |   0%
libspatialite-4.3.0a | 2.3 MB    |            |   1%
libspatialite-4.3.0a | 2.3 MB    | ######5    |  65%
libspatialite-4.3.0a | 2.3 MB    | ########## | 100%

krb5-1.16.4          | 693 KB    |            |   0%
krb5-1.16.4          | 693 KB    | ########## | 100%

gdal-3.0.2           | 1.0 MB    |            |   0%
gdal-3.0.2           | 1.0 MB    | 1          |   2%
gdal-3.0.2           | 1.0 MB    | ########## | 100%

hdf4-4.2.13          | 1.3 MB    |            |   0%
hdf4-4.2.13          | 1.3 MB    | ####8      |  49%
hdf4-4.2.13          | 1.3 MB    | ########## | 100%

libboost-1.67.0      | 18.6 MB   |            |   0%
libboost-1.67.0      | 18.6 MB   | 5          |   5%
libboost-1.67.0      | 18.6 MB   | #3         |  14%
libboost-1.67.0      | 18.6 MB   | ##1        |  22%

libboost-1.67.0      | 18.6 MB   | ###        |  30%
libboost-1.67.0      | 18.6 MB   | ###8       |  39%
libboost-1.67.0      | 18.6 MB   | ####7      |  47%
libboost-1.67.0      | 18.6 MB   | #####5     |  56%
libboost-1.67.0      | 18.6 MB   | ######3    |  64%
libboost-1.67.0      | 18.6 MB   | #######2   |  72%
libboost-1.67.0      | 18.6 MB   | ########1  |  81%
libboost-1.67.0      | 18.6 MB   | ########9  |  90%
libboost-1.67.0      | 18.6 MB   | #########8 |  98%
libboost-1.67.0      | 18.6 MB   | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [237]:
import geopandas

move_df = df[0:2000].copy()

gdf = geopandas.GeoDataFrame(move_df, geometry=geopandas.points_from_xy(move_df.lon, move_df.lat))
gdf.head()

         lat         lon            datetime  id                    geometry
0  39.984094  116.319236 2008-10-23 05:53:05   1  POINT (116.31924 39.98409)
1  39.984198  116.319322 2008-10-23 05:53:06   1  POINT (116.31932 39.98420)
2  39.984224  116.319402 2008-10-23 05:53:11   1  POINT (116.31940 39.98422)
3  39.984211  116.319389 2008-10-23 05:53:16   1  POINT (116.31939 39.98421)
4  39.984217  116.319422 2008-10-23 05:53:21   1  POINT (116.31942 39.98422)

In [238]:
#Criando áreas coletivas
indexes_ac = np.linspace(0, gdf.shape[0], 5)
area_c = move_df[move_df.index.isin(indexes_ac)].copy()
area_c

,lat,lon,datetime,id,geometry
0,39.984094,116.319236,2008-10-23 05:53:05,1,POINT (116.31924 39.98409)
500,40.006436,116.317701,2008-10-23 10:53:31,1,POINT (116.31770 40.00644)
1000,40.014125,116.306159,2008-10-23 23:43:56,1,POINT (116.30616 40.01412)
1500,39.979009,116.326873,2008-10-24 00:11:29,1,POINT (116.32687 39.97901)

In [239]:
#Integração
it.join_coletives_areas(gdf, area_c)

100%|██████████| 4/4 [00:00<00:00, 54.05it/s]

Integration between trajectories and coletives areas

In [240]:
gdf.head()

,lat,lon,datetime,id,geometry,violation
0,39.984094,116.319236,2008-10-23 05:53:05,1,POINT (116.31924 39.98409),True
1,39.984198,116.319322,2008-10-23 05:53:06,1,POINT (116.31932 39.98420),False
2,39.984224,116.319402,2008-10-23 05:53:11,1,POINT (116.31940 39.98422),False
3,39.984211,116.319389,2008-10-23 05:53:16,1,POINT (116.31939 39.98421),False
4,39.984217,116.319422,2008-10-23 05:53:21,1,POINT (116.31942 39.98422),False

### Visualização dos pontos no mapa

#### Area Coletiva

In [241]:
visualization.plot_markers(area_c)

#### Pontos correspondentes

In [242]:
visualization.plot_markers(gdf.loc[gdf['violation'] == True])