In [35]:
import pymove
import integration as it
from pymove.visualization import visualization
from pymove import MoveDataFrame
import numpy as np
import pandas as pd

In [3]:
pdf = pd.read_csv('geolife_sample.csv')
pdf.head()

         lat         lon             datetime  id
0  39.984094  116.319236  2008-10-23 05:53:05   1
1  39.984198  116.319322  2008-10-23 05:53:06   1
2  39.984224  116.319402  2008-10-23 05:53:11   1
3  39.984211  116.319389  2008-10-23 05:53:16   1
4  39.984217  116.319422  2008-10-23 05:53:21   1

In [33]:
move_df = pdf[0:2000]
move_df.head()

         lat         lon             datetime  id
0  39.984094  116.319236  2008-10-23 05:53:05   1
1  39.984198  116.319322  2008-10-23 05:53:06   1
2  39.984224  116.319402  2008-10-23 05:53:11   1
3  39.984211  116.319389  2008-10-23 05:53:16   1
4  39.984217  116.319422  2008-10-23 05:53:21   1

In [9]:
import geopandas

gdf = geopandas.GeoDataFrame(move_df.copy(), geometry=geopandas.points_from_xy(move_df.lon, move_df.lat))
gdf.head()

         lat         lon             datetime  id                    geometry
0  39.984094  116.319236  2008-10-23 05:53:05   1  POINT (116.31924 39.98409)
1  39.984198  116.319322  2008-10-23 05:53:06   1  POINT (116.31932 39.98420)
2  39.984224  116.319402  2008-10-23 05:53:11   1  POINT (116.31940 39.98422)
3  39.984211  116.319389  2008-10-23 05:53:16   1  POINT (116.31939 39.98421)
4  39.984217  116.319422  2008-10-23 05:53:21   1  POINT (116.31942 39.98422)

In [10]:
indexes_ac = np.linspace(0, gdf.shape[0], 5)
area_c = gdf[gdf.index.isin(indexes_ac)].copy()
area_c

,lat,lon,datetime,id,geometry
0,39.984094,116.319236,2008-10-23 05:53:05,1,POINT (116.31924 39.98409)
500,40.006436,116.317701,2008-10-23 10:53:31,1,POINT (116.31770 40.00644)
1000,40.014125,116.306159,2008-10-23 23:43:56,1,POINT (116.30616 40.01412)
1500,39.979009,116.326873,2008-10-24 00:11:29,1,POINT (116.32687 39.97901)

In [11]:
it.join_coletive_areas(gdf, area_c)

Integration between trajectories and coletives areas

VBox(children=(HTML(value=''), IntProgress(value=0, max=4)))

In [12]:
gdf.head()

,lat,lon,datetime,id,geometry,violation
0,39.984094,116.319236,2008-10-23 05:53:05,1,POINT (116.31924 39.98409),True
1,39.984198,116.319322,2008-10-23 05:53:06,1,POINT (116.31932 39.98420),False
2,39.984224,116.319402,2008-10-23 05:53:11,1,POINT (116.31940 39.98422),False
3,39.984211,116.319389,2008-10-23 05:53:16,1,POINT (116.31939 39.98421),False
4,39.984217,116.319422,2008-10-23 05:53:21,1,POINT (116.31942 39.98422),False

In [31]:
indexes_pol = np.linspace(0, move_df.shape[0], 5)
POIs = move_df[move_df.index.isin(indexes_pol)].copy()
POIs['type_poi'] = ['distritos_policiais','police','distritos_policiais', 'distritos_policiais']
POIs = POIs.drop(['datetime'], axis=1)
POIs['id'] = [1,2,3,4]

#Visualização
POIs.head()

            lat         lon  id             type_poi
0     39.984094  116.319236   1  distritos_policiais
500   40.006436  116.317701   2               police
1000  40.014125  116.306159   3  distritos_policiais
1500  39.979009  116.326873   4  distritos_policiais

In [36]:
it.join_with_POIs(move_df, POIs, label_id='id', label_POI='type_poi')

Integration with POIs...
... Reseting index to operation...

UnboundLocalError: local variable 'idx' referenced before assignment

In [27]:
cvp = POIs.copy()
cvp['event_id'] = cvp['id']
cvp['event_type'] = cvp['type_poi']
cvp['event_id'] = [1,2,3,4]
cvp = cvp.drop(['id', 'type_poi'], axis=1)
cvp.head()

         lat         lon             datetime  event_id           event_type
0  39.984094  116.319236  2008-10-23 05:53:05         1  distritos_policiais
1  40.006436  116.317701  2008-10-23 10:53:31         2               police
2  40.014125  116.306159  2008-10-23 23:43:56         3  distritos_policiais
3  39.979009  116.326873  2008-10-24 00:11:29         4  distritos_policiais

In [29]:
it.join_with_POI_datetime(move_df, cvp)

Integration with CVP...

UnboundLocalError: local variable 'idx' referenced before assignment